header {
    position: fixed;
    color: var(--secondary);
    width: 100%;
    background-color: rgb(0 0 0 / 71%);
    // box-shadow:0 23px 36px rgba(24, 210, 110, 0.1490196078), 0 30px 0px rgb(24 210 110 / 0%);
    z-index: 999;
    .header-block {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 20px 0px;
        h2 {
            color: var(--primary);
            font-size: 30px;
            margin-bottom: 0px;
        }
        .navbar {
            ul {
                display: flex;
                align-items: center;
                padding: 0px;
                margin: 0px;

                li {
                    list-style: none;
                    font-size: 16px;
                    font-weight: 400;

                    a {
                        position: relative;
                        transition: all 0.5s;
                        cursor: pointer;

                        &::after {
                            content: '';
                            position: absolute;
                            height: 2px;
                            width: 0%;
                            background-color: var(--primary);
                            left: 0px;
                            bottom: 0px;
                            transition: all 0.5s;
                        }

                        &.active {
                            color: var(--primary);

                            &::after {
                                width: 100%;
                            }
                        }

                        &:hover {
                            color: var(--primary);

                            &::after {
                                width: 100%;
                            }
                        }
                    }
                }
            }
        }
    }
}