<header>
    <div class="container">
        <div class="header-block">
            <a draggable="false" class="logo" href="index.html">
                HARDIK
            </a>
            <div class="navbar-block gap-3">
                <a class="nav-link" data-toggle="smooth-scroll" href="index.html#home">
                    Home
                </a>
                <a class="nav-link" data-toggle="smooth-scroll" href="index.html#about">
                    About
                </a>
                <a class="nav-link" data-toggle="smooth-scroll" href="index.html#skills">
                    Skills
                </a>
                <a class="nav-link" data-toggle="smooth-scroll" href="index.html#service">
                    Service
                </a>
                <a class="nav-link" data-toggle="smooth-scroll" href="index.html#portfolio">
                    Portfolio
                </a>
                <a class="nav-link" data-toggle="smooth-scroll" href="index.html#contact">
                    Contact Us
                </a>
                <a class="primary-btn" data-toggle="smooth-scroll" href="index.html#resume">
                    Resume
                </a>
                
            </div>
        </div>
    </div>
</header>