header {
    width: 100%;
    padding: 15px 50px;
    border-bottom:1px solid var(--secondary);
    backdrop-filter: blur(5px);
    position: fixed;
    z-index: 999;
    box-shadow: rgb(92 185 242 / 28%) 0px 0px 27px, rgb(0 0 0 / 60%) 0px 6px 6px;

    .header-block{
        display: flex;
        align-items: center;
        justify-content: space-between;
        .logo {
            font-size: 26px;
            font-weight: 500;
            margin-bottom: 0px;
            color: var(--white);
            font-family: 'Ephesis', cursive !important;
        }
        .navbar-block{
            display: flex;
            align-items: center;
            justify-content: space-between;
            .nav-link{
                font-size: 16px;
                display: inline-block;
                font-weight: 400;
                color: var(--primary);
                transition: all 0.5s;
                &.active{
                    color: var(--sky);
                }
                &:hover{
                    color: var(--sky);
                }
            }
        }

    }
}