header {
  width: 100%;
  padding: 0px 50px;
  border-bottom: 1px solid var(--secondary);
  -webkit-backdrop-filter: blur(5px);
          backdrop-filter: blur(5px);
  position: fixed;
  z-index: 999;
  box-shadow: rgba(92, 185, 242, 0.28) 0px 0px 27px, rgba(0, 0, 0, 0.6) 0px 6px 6px;
}
@media only screen and (max-width: 991px) {
  header {
    padding: 0px 20px;
  }
}
@media only screen and (max-width: 767px) {
  header {
    padding: 10px 20px;
  }
}
@media only screen and (max-width: 575px) {
  header {
    padding: 15px;
  }
}
header .header-block {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
header .header-block .logo {
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--white);
  font-family: "Ephesis", cursive !important;
}
@media only screen and (max-width: 575px) {
  header .header-block .logo {
    font-size: 20px;
  }
}
header .header-block .logo img {
  width: 100px;
  -o-object-fit: contain;
     object-fit: contain;
}
header .header-block .navbar-block {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
header .header-block .navbar-block .nav-link {
  padding: 30px 10px;
  font-size: 17px;
  display: inline-block;
  font-weight: 500;
  color: var(--primary);
  transition: all 0.5s;
  position: relative;
}
@media only screen and (max-width: 991px) {
  header .header-block .navbar-block .nav-link {
    padding: 25px 5px;
  }
}
header .header-block .navbar-block .nav-link::after {
  width: 0%;
  height: 2px;
  content: "";
  position: absolute;
  bottom: 0;
  background-color: var(--sky);
  left: 0;
  transition: all 0.5s;
}
header .header-block .navbar-block .nav-link.active {
  color: var(--sky);
  background: rgba(19, 43, 68, 0.431372549);
}
header .header-block .navbar-block .nav-link.active::after {
  width: 100%;
}
header .header-block .navbar-block .nav-link:hover {
  color: var(--sky);
  background: rgba(19, 43, 68, 0.431372549);
}
header .header-block .navbar-block .nav-link:hover::after {
  width: 100%;
}

.offcanvas {
  background-color: #020617 !important;
}
.offcanvas .navbar-header {
  background-color: var(--light-sky);
}
.offcanvas .navbar-header .logo {
  font-size: 26px;
  font-weight: 700;
  margin-bottom: 0px;
  color: var(--black);
  font-family: "Ephesis", cursive !important;
}
@media only screen and (max-width: 575px) {
  .offcanvas .navbar-header .logo {
    font-size: 20px;
  }
}
.offcanvas .navbar-block {
  display: flex;
  align-items: start;
  flex-direction: column;
}
.offcanvas .navbar-block .nav-link {
  font-size: 16px;
  display: inline-block;
  font-weight: 400;
  color: var(--primary);
  transition: all 0.5s;
}
.offcanvas .navbar-block .nav-link.active {
  color: var(--sky);
}
.offcanvas .navbar-block .nav-link:hover {
  color: var(--sky);
}

@media only screen and (max-width: 767px) {
  header .header-block .navbar-block {
    display: none;
  }
}
.dropdown-toggle::after {
  display: none;
}

.language-dropdown ul {
  background-color: var(--black);
  border: 1px solid;
  padding: 0px;
  transform: translate(0px, 50px) !important;
  overflow: hidden !important;
}
.language-dropdown ul li {
  cursor: pointer;
  border-bottom: 1px solid;
}
.language-dropdown ul li:last-child {
  border-bottom: 0px solid;
}
.language-dropdown ul li a {
  padding: 9px 15px;
  color: var(--white);
  font-size: 15px;
}
.language-dropdown ul li a:hover {
  background-color: var(--sky);
}
.language-dropdown .fa-globe {
  color: var(--sky);
  font-size: 20px;
  transition: all 0.5s;
}
.language-dropdown .fa-angle-down {
  transition: all 0.3s;
}
.language-dropdown .button-primary-outline:hover {
  background-color: transparent !important;
}
.language-dropdown .dropdown-toggle.show .fa-angle-down {
  margin-top: 0px !important;
  transform: rotate(180deg);
}

.modal-body {
  background-color: #fff;
  max-width: 700px;
}
.modal-body img {
  width: 100%;
  height: 100%;
}

.modal-dialog-scrollable .modal-content {
  background-color: #111827;
}

.modal-top {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 15px;
  background-color: #111827;
}
.modal-top h3 {
  font-size: 20px !important;
  font-weight: 500;
  color: var(--white);
  text-align: start;
  font-family: "Montserrat", sans-serif !important;
}
.modal-top .close-icon {
  border-radius: 100%;
  border: 2px solid var(--sky);
  height: 30px;
  width: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.5s;
  background-color: transparent;
}
.modal-top .close-icon:hover i {
  transform: rotate(360deg);
}
.modal-top .close-icon i {
  font-size: 20px;
  color: var(--sky);
  transition: all 0.7s;
}

.modal-footer {
  background-color: #111827;
  padding: 10px 15px;
}/*# sourceMappingURL=header.component.css.map */