<!-- <section class="career-section">
    <div class="container">
        <div class="logo-img">
            <img src="../../assets/image/my-img.jpg" loading="lazy" alt="Skyline Infosoft" />
        </div>
        <div class="banner-content">
            <h1>Join Our <span>Team</span></h1>
            <p>Where innovation thrives and excellence defines our culture. Contribute to something extraordinary in the world of technology. We seek passionate individuals eager to make a meaningful impact. Join our dynamic family, shape the future with us!</p>
        </div>
    </div>
</section> -->
