footer{
    background-color:#00000080;
    border-radius: 150px 150px 0px 0px;
    padding:5px;
    box-shadow:rgba(92, 185, 242, 0.28) 0px 0px 27px, rgba(0, 0, 0, 0.6) 0px 6px 6px;
    position: fixed;
    bottom: 0px;
    width: 100%;
    backdrop-filter: blur(15px);
    z-index: 998;
    .footer_block{
        display: flex;
        align-items: center;
        justify-content: space-between;
        .logo{
            width: 80px;
            img{
                height: 100%;
                width: 100%;
                object-fit: contain;
            }
        }
        p{
            font-size: 16px;
            color:var(--white);
            font-weight: 400;
            margin-bottom: 0px;
            a{
                color: var(--sky);
                font-weight: 500;
            }
        }
    }
}