<!-- BENNAR SECTION START HEAR -->
<section class="bennar-section" id="home">
    <div class="custom-container" #bennarSection>
        <div class="title align-items-center mb-3" data-aos="fade-down" data-aos-anchor-placement="top-bottom"
            data-aos-easing="linear">
            <h4 class="mb-md-4 mb-2">Hello, I'm</h4>
            <h2>HARDIK KAKLOTAR</h2>
        </div>
        <div class="bennar-block" data-aos="fade-up">
            <div class="button-primary button mx-auto">A Web Designer From Surat, Gujarat, India</div>
            <div class="d-flex flex-column justify-content-center text-white space-block">
                <span class="line mx-auto line-5 mt-2 "></span>
                <i class="fa-solid fa-angle-down arrow-down"></i>
            </div>
            <div class="btn-block">
                <div>
                    <div class="d-flex flex-column justify-content-center ms-2 text-white">
                        <span class="line mx-auto line-1"></span>
                        <i class="fa-solid fa-angle-down arrow-down"></i>
                    </div>
                    <a href="#about" class="button-primary">About</a>
                    <!-- <a href="#about" class="button-primary">{{serviceService.item}}</a> -->
                    <!-- <button (click)="clickandmove()" class="button-primary">About</button> -->
                </div>
                <div>
                    <div class="d-flex flex-column justify-content-center text-white">
                        <span class="line mx-auto line-2"></span>
                        <i class="fa-solid fa-angle-down arrow-down"></i>
                    </div>
                    <!-- <button (click)="serviceService.clickandmove()" class="button-primary">Skills</button> -->
                    <a href="#skills" class="button-primary">Skills</a>
                </div>
                <div>
                    <div class="d-flex flex-column justify-content-center text-white">
                        <span class="line mx-auto line-3"></span>
                        <i class="fa-solid fa-angle-down arrow-down"></i>
                    </div>
                    <a href="#services" class="button-primary">Services</a>
                </div>
                <div>
                    <div class="d-flex flex-column justify-content-center text-white">
                        <span class="line mx-auto line-4"></span>
                        <i class="fa-solid fa-angle-down arrow-down"></i>
                    </div>
                    <a href="#contact" class="button-primary">Contact</a>
                </div>
            </div>
        </div>

    </div>
    <div class="container-lg" data-aos="fade-up">
        <p class="text-center pt-sm-5 pt-4 mt-1">
            We are your trusted software development
            company with many years of experience and
            expertise in building next-gen software
            development solutions that empower
            businesses for tomorrow.Experienced Web Designer With A Demonstrated History Of Working In The Information
            Technology And Services Industry. Banner Design, Book Cover Page, Logo Design, Flyer Design, Business
            Visiting Card, Etc.. I Can Provide You With Efficient And Unique Web Design And Graphics Work For Your
            Unique Brand Keeping SEO In Mind.Uniq Ness And Attractive Design, User Can Easily Used And Understanding.
        </p>
    </div>
</section>
<!-- BENNAR SECTION END HEAR -->
