/*BENNAR SECTION CSS START HEAR*/
.bennar-section {
    padding: 200px 0px 100px;
    overflow: hidden;
    align-items: start;
    display: flex;
    justify-content: center;
    flex-direction: column;
    color: var(--primary);
    position: relative;
    box-shadow: rgb(8 25 43) 0px 25px 52px -20px;
 
    @media screen and (max-width:991px) {
        padding: 130px 0px 50px;
    }

    @media screen and (max-width:575px) {
        padding: 90px 0px 30px;
        box-shadow: rgb(8, 25, 43) 0px 17px 67px 15px !important;
    }
    .overlay{
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0px;
        background-color: rgb(0 0 0 / 49%);
        z-index: 10;
    }
    .custom-container {
        width: 100%;
        max-width: 900px;
        margin: 0 auto;
        position: relative;
        z-index: 99;

        .title_block {
            text-align: center;

            h2 {
                font-size: 50px;
                font-weight: 400;
                line-height: 60px;
                text-align: center;
                font-family: 'Ephesis', cursive !important;
                margin-bottom: 0px;
                span {
                    color: var(--sky) !important;
                }
                @media screen and (max-width:1024px) {
                    font-size: 40px;
                    line-height: 40px;
                }
                @media screen and (max-width:767px) {
                    font-size: 30px;
                    line-height: 30px;
                }
                @media screen and (max-width:575px) {
                    font-size:24px;
                    line-height: 24px;
                    
                }
            }

            h1 {
                font-size: 100px;
                font-weight: 500;
                line-height: 100px;
                font-family: 'Ephesis', cursive !important;
                background: linear-gradient(to bottom right, var(--primary) 47%, var(--sky) 70%);
                -webkit-background-clip: text;
                -webkit-text-fill-color: transparent;

                @media screen and (max-width:1024px) {
                    font-size: 80px;
                }
                @media screen and (max-width:767px) {
                    font-size:60px;
                    line-height: 60px;
                }
                @media screen and (max-width:575px) {
                    font-size:40px;
                    line-height: 50px;
                    
                }
            }

            // h4 {
            //     font-size: 40px;
            //     font-family: 'Ephesis', cursive !important;

            //     @media screen and (max-width:991px) {
            //         font-size: 25px;
            //     }

            //     @media screen and (max-width:575px) {
            //         font-size: 20px;
            //     }
            // }

            // h2 {
            //     font-size: 45px;
            //     padding-bottom:15px;
            //     @media screen and (max-width:991px) {
            //         font-size: 30px;
            //     }

            //     @media screen and (max-width:575px) {
            //         font-size: 25px;
            //     }
            // }
        }

        .bennar-block {
            @media screen and (max-width:991px) {
                max-width: 766px;
                margin: 0px auto;
                padding: 0px 20px;
            }

            @media screen and (max-width:767px) {
                max-width: 576px;
            }

            @media screen and (max-width:575px) {
                padding: 0px 10px;
                max-width: 320px;

            }

            .button {
                background-color: var(--sky);
            }

            .line {
                display: block;
                width: 2px;
                height: 100px;
                background-color: #fff;
                position: relative;

                @media screen and (max-width:767px) {
                    height: 80px;
                    ;
                }

                @media screen and (max-width:575px) {
                    height: 60px;
                    ;
                }

                &::after {
                    width: 13px;
                    height: 13px;

                    @media screen and (max-width:575px) {
                        width: 10px;
                        height: 10px;
                    }

                    border-radius: 100%;
                    background-color: var(--sky);
                    content: '';
                    position: absolute;
                    top: -6%;
                    left: 50%;
                    transform: translate(-50%);
                    z-index: 99;
                }

                &::before {
                    width: 13px;
                    height: 13px;

                    @media screen and (max-width:575px) {
                        width: 10px;
                        height: 10px;
                    }

                    border-radius: 100%;
                    background-color: var(--sky);
                    content: '';
                    position: absolute;
                    top: -6%;
                    left: 50%;
                    transform: translate(-50%);
                    z-index: 99;
                }
            }

            .line-1 {
                &::after {
                    animation: doted-animation 10s linear infinite;
                }

                &::before {}
            }

            .line-2 {
                &::after {
                    animation: doted-animation 10s linear infinite;
                }
            }

            .line-3 {
                &::after {
                    animation: doted-animation 10s linear infinite;
                }
            }

            .line-4 {
                &::after {
                    animation: doted-animation 10s linear infinite;
                }
            }

            .line-5 {
                &::after {
                    animation: doted-animation 10s linear infinite;
                }
            }

            .arrow-down {
                margin-top: -10px !important;
                margin: auto;
            }

            .space-block {
                position: relative;

                &::after {
                    content: '';
                    position: absolute;
                    width: 86%;
                    height: 2px;
                    bottom: 3px;
                    left: 50%;
                    transform: translate(-50%);
                    background-color: #fff;

                    @media screen and (max-width:991px) {
                        width: 83%;
                    }

                    @media screen and (max-width:767px) {
                        width: 76%;
                    }
                }
            }

            .btn-block {
                display: flex;
                align-items: center;
                justify-content: space-between;
                width: 100%;
                position: relative;
                margin-top: -5px;

                &::after {
                    width: 13px;
                    height: 13px;
                    border-radius: 100%;
                    background-color: var(--sky);
                    content: '';
                    position: absolute;
                    top: -4%;
                    right: 6%;
                    animation: doted-animation-right 20s linear infinite;
                    z-index: 99;

                    @media screen and (max-width:991px) {
                        right: 8%;
                    }

                    @media screen and (max-width:767px) {
                        right: 11%;
                    }

                    @media screen and (max-width:575px) {
                        width: 10px;
                        height: 10px;
                    }
                }

                &::before {
                    width: 13px;
                    height: 13px;
                    border-radius: 100%;
                    background-color: var(--sky);
                    content: '';
                    position: absolute;
                    top: -4%;
                    left: 6%;
                    animation: doted-animation-left 20s linear infinite;
                    z-index: 99;

                    @media screen and (max-width:991px) {
                        left: 8%;
                    }

                    @media screen and (max-width:767px) {
                        left: 10%;
                    }

                    @media screen and (max-width:575px) {
                        width: 10px;
                        height: 10px;
                    }
                }

                .button-primary-outline {
                    @media screen and (max-width:575px) {
                        font-size: 10px;
                        padding: 4px 10px;
                    }
                }

                a {
                    text-transform: uppercase;
                }
            }
        }
        .img-block {
            position: relative;

            &::after {
                content: '';
                box-shadow: rgb(214 203 203 / 13%) 0px 22px 255px 201px;
                position: absolute;
                top: 50%;
                left: 50%;
                width: 200px;
                height: 200px;
                transform: translate(-50%, -50%);
            }
        }
    }
    .container-lg{
        position: relative;
            z-index: 100;
        p{
            color: var(--white);
        }
    }
}

/*BENNAR SECTION CSS END HEAR*/

// BANNER KEY FRAMES
@keyframes doted-animation {
    0% {
        top: -6%;
    }

    50% {
        top: 85%;
    }

    100% {
        top: -6%;
    }
}

@media screen and (min-width:200px) {
    @keyframes doted-animation-left {
        0% {
            left: 10%;
        }

        50% {
            left: 86%;
        }

        100% {
            left: 10%;
        }
    }

    @keyframes doted-animation-right {
        0% {
            right: 11%;
        }

        50% {
            right: 87%;
        }

        100% {
            right: 11%;
        }
    }
}

@media screen and (min-width:575px) {
    @keyframes doted-animation-left {
        0% {
            left: 10%;
        }

        50% {
            left: 86%;
        }

        100% {
            left: 10%;
        }
    }

    @keyframes doted-animation-right {
        0% {
            right: 11%;
        }

        50% {
            right: 87%;
        }

        100% {
            right: 11%;
        }
    }
}

@media screen and (min-width:767px) {
    @keyframes doted-animation-left {
        0% {
            left: 8%;
        }

        50% {
            left: 90%;
        }

        100% {
            left: 8%;
        }
    }

    @keyframes doted-animation-right {
        0% {
            right: 8%;
        }

        50% {
            right: 90%;
        }

        100% {
            right: 8%;
        }
    }
}

@media screen and (min-width:991px) {
    @keyframes doted-animation-left {
        0% {
            left: 6%;
        }

        50% {
            left: 92%;
        }

        100% {
            left: 6%;
        }
    }

    @keyframes doted-animation-right {
        0% {
            right: 6%;
        }

        50% {
            right: 92%;
        }

        100% {
            right: 6%;
        }
    }
}