<!-- BENNAR SECTION START HEAR -->
<section class="bennar-section" id="home">
    <div class="custom-container" #bennarSection>
        <div class="title_block align-items-center mb-3" data-aos="fade-down" data-aos-anchor-placement="top-bottom"
            data-aos-easing="linear">
            <h2>{{translateService.content.hello}}, <span>{{translateService.content.im}}</span></h2>
            <h1>{{translateService.content.title}}</h1>
        </div>
        <div class="bennar-block" data-aos="fade-up">
            <div class="button-primary button mx-auto">{{translateService.content.passion}}</div>
            <div class="d-flex flex-column justify-content-center text-white space-block">
                <span class="line mx-auto line-5 mt-2 "></span>
                <i class="fa-solid fa-angle-down arrow-down"></i>
            </div>
            <!-- <div class="btn-block">
                <div>
                    <div class="d-flex flex-column justify-content-center ms-2 text-white">
                        <span class="line mx-auto line-1"></span>
                        <i class="fa-solid fa-angle-down arrow-down"></i>
                    </div>
                    <a href="#about" class="button-primary">{{about}}</a>
                </div>
                <div>
                    <div class="d-flex flex-column justify-content-center text-white">
                        <span class="line mx-auto line-2"></span>
                        <i class="fa-solid fa-angle-down arrow-down"></i>
                    </div>
                    <a href="#skills" class="button-primary">{{skills}}</a>
                </div>
                <div>
                    <div class="d-flex flex-column justify-content-center text-white">
                        <span class="line mx-auto line-3"></span>
                        <i class="fa-solid fa-angle-down arrow-down"></i>
                    </div>
                    <a href="#services" class="button-primary">{{services}}</a>
                </div>
                <div>
                    <div class="d-flex flex-column justify-content-center text-white">
                        <span class="line mx-auto line-4"></span>
                        <i class="fa-solid fa-angle-down arrow-down"></i>
                    </div>
                    <a href="#contact" class="button-primary">{{contact}}</a>
                </div>
            </div> -->
            <div class="btn-block">
                <div *ngFor="let item of scrollToMove; let i = index">
                  <div>
                    <div class="d-flex flex-column justify-content-center ms-2 text-white">
                      <span class="line mx-auto line-{{i + 1}}"></span>
                      <i class="fa-solid fa-angle-down arrow-down"></i>
                    </div>
                    <a (click)="serviceService.scrollTo(item?.id)" routerLink="{{ item.link }}" class="button-primary">{{item?.label}}</a>
                  </div>
                </div>
              </div>
        </div>

    </div>
    <div class="container-lg" data-aos="fade-up">
        <p class="text-center pt-sm-5 pt-4 mt-1">
            {{translateService.content.description}}
        </p>
    </div>
</section>
<!-- BENNAR SECTION END HEAR -->
