<section class="main-block">
    <div class="container">
        <div class="contact-wreppar">
            <div class="section-title">
                <p class="smoll-title">ABOUT</p>
                <h2>LEARN MORE ABOUT ME</h2>
            </div>
            <div class="row mt-3 about-block">
                <div class="col-lg-4">
                    <img src="../../assets/image/my-img.jpg" class="img-fluid" alt="">
                </div>
                <div class="col-lg-8">
                    <h3>Web Designer</h3>
                    <div class="section-title mb-3">
                        <p class="smoll-title">
                            I Can Design Anything You Want
                        </p>
                    </div>
                    <div class="row">
                        <div class="col-lg-6">
                            <div class="about-text-block">
                                <div class="d-flex gap-2 align-items-center">
                                    <i class="fa-solid fa-angle-right"></i>
                                    <strong>Birthday :</strong>
                                </div>
                                <span>9 august 2002</span>
                            </div>
                            <div class="about-text-block">
                                <div class="d-flex gap-2 align-items-center">
                                    <i class="fa-solid fa-angle-right"></i>
                                    <strong>Website :</strong>
                                </div>
                                <a href="#!">Loding....</a>
                            </div>
                            <div class="about-text-block">
                                <div class="d-flex gap-2 align-items-center">
                                    <i class="fa-solid fa-angle-right"></i>
                                    <strong>Phone :</strong>
                                </div>
                                <a href="tel:9714514703">+919714514703</a>
                            </div>
                            <div class="about-text-block">
                                <div class="d-flex gap-2 align-items-center">
                                    <i class="fa-solid fa-angle-right"></i>
                                    <strong>City :</strong>
                                </div>
                                <span>Surat</span>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="about-text-block">
                                <div class="d-flex gap-2 align-items-center">
                                    <i class="fa-solid fa-angle-right"></i>
                                    <strong>Age :</strong>
                                </div>
                                <span>21</span>
                            </div>
                            <div class="about-text-block">
                                <div class="d-flex gap-2 align-items-center">
                                    <i class="fa-solid fa-angle-right"></i>
                                    <strong>Degree :</strong>
                                </div>
                                <span>Bachelor</span>
                            </div>
                            <div class="about-text-block">
                                <div class="d-flex gap-2 align-items-center">
                                    <i class="fa-solid fa-angle-right"></i>
                                    <strong>Email :</strong>
                                </div>
                                <span>hardikoffice61@gmail.com</span>
                            </div>
                            <div class="about-text-block">
                                <div class="d-flex gap-2 align-items-center">
                                    <i class="fa-solid fa-angle-right"></i>
                                    <strong>Address :</strong>
                                </div>
                                <span>Surat,Gujarat,India.</span>
                            </div>
                        </div>
                    </div>
                    <p>
                        Experienced Web Designer With A Demonstrated History Of Working In The Information Technology
                        And Services Industry.
                        I Have Also Experience In Graphics Design Like Poster Design, Banner Design, Book Cover Page,
                        Logo Design, Flyer Design, Business Visiting Card, Etc..
                        I Am Working As A Freelance Web Design And Graphics Design, I Can Provide You With Efficient And
                        Unique Web Design And Graphics Work For Your Unique Brand Keeping SEO In Mind.
                        I Can Provide User Friendly Website Design Looking Simple, Uniq Ness And Attractive Design, User
                        Can Easily Used And Understanding.
                    </p>
                </div>
            </div>

            <div class="section-title my-5">
                <p class="smoll-title">FACTS</p>
            </div>

            <div class="row mt-5 client-section">
                <div class="col-md-3">
                    <div class="contact-box">
                        <div class="ring">
                            <i class="fa-regular fa-face-smile"></i>
                        </div>
                        <h2>68</h2>
                        <p>Happy Clients</p>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="contact-box">
                        <div class="ring">
                            <i class="fa-solid fa-book" style="font-size: 27px;"></i>
                        </div>
                        <h2>20</h2>
                        <p>Projects</p>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="contact-box">
                        <div class="ring">
                            <i class="fa-regular fa-hourglass-half" style="font-size: 25px;"></i>
                        </div>
                        <h2>993</h2>
                        <p>Hours Of Support</p>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="contact-box">
                        <div class="ring">
                            <i class="fa-solid fa-award"></i>
                        </div>
                        <h2>5</h2>
                        <p>Awards</p>
                    </div>
                </div>
            </div>

            <div class="section-title mt-5 mb-3">
                <p class="smoll-title">SKILLS</p>
                <h2>MY SKILLS</h2>
            </div>

            <div id="technology">
                <div class="technology-section">
                    <div class="row pt-5">
                        <div class="container">
                            <div class="our-technology">
                                <div class="our-techno">
                                    <div class="center-title">
                                        <h4>SKILLS</h4>
                                    </div>

                                    <div class="line-1">
                                        <div class="circle-1"></div>
                                        <a href="https://angular.io/" class="techno-img">
                                            <img draggable="false" class="img-fluid" src="../../assets/image/Techno/angular.png"
                                                alt="Angular" loading="lazy" />
                                        </a>
                                    </div>
                                    <div class="line-2">
                                        <div class="circle-2"></div>
                                        <a href="https://jquery.com/" class="techno-img">
                                            <img draggable="false" class="img-fluid" src="../../assets/image/Techno/jquery.png"
                                            alt="Angular" loading="lazy" />
                                        </a>
                                    </div>
                                    <div class="line-3">
                                        <div class="circle-3"></div>
                                        <a href="https://sass-lang.com/" class="techno-img">
                                            <img draggable="false" class="img-fluid" src="../../assets/image/Techno/sass.webp"
                                                alt="SCSS" loading="lazy" />
                                        </a>
                                    </div>
                                    <div class="line-4">
                                        <div class="circle-4"></div>
                                        <a href="https://www.javascript.com/" class="techno-img">
                                            <img draggable="false" class="img-fluid rounded-circle"
                                                src="../../assets/image/Techno/javascript.png" alt="JavaScript" loading="lazy" />
                                        </a>
                                    </div>
                                    <div class="line-5">
                                        <div class="circle-5"></div>
                                        <a href="https://www.w3schools.com/html/" class="techno-img">
                                            <img draggable="false" class="img-fluid" src="../../assets/image/Techno/html-5.png"
                                                alt="HTML" loading="lazy" />
                                            
                                        </a>
                                    </div>
                                    <div class="line-6">
                                        <div class="circle-6"></div>
                                        <a href="https://www.typescriptlang.org/" class="techno-img">
                                            <img draggable="false" class="img-fluid" src="../../assets/image/Techno/typescript.png"
                                                alt="TypeScript" loading="lazy" />
                                        </a>
                                    </div>
                                    <div class="line-7">
                                        <div class="circle-7"></div>
                                        <a href="https://www.hubspot.com/" class="techno-img">
                                            <img draggable="false" class="img-fluid" src="../../assets/image/Techno/Hubspot.png"
                                                alt="Hubspot" loading="lazy" />
                                        </a>
                                    </div>
                                    <div class="line-8">
                                        <div class="circle-8"></div>
                                        <a href="https://getbootstrap.com/" class="techno-img">
                                            <img draggable="false" class="img-fluid rounded-circle" src="../../assets/image/Techno/bootstrap.png"
                                                alt="bootstrap" loading="lazy" />
                                        </a>
                                    </div>
                                    <div class="line-9">
                                        <div class="circle-9"></div>
                                        <a href="https://tailwindcss.com/" class="techno-img">
                                            <img draggable="false" class="img-fluid" src="../../assets/image/Techno/tailwind.png"
                                                alt="tailwind" loading="lazy" />
                                        </a>
                                    </div>
                                    <div class="line-10">
                                        <div class="circle-10"></div>
                                        <a href="https://www.w3schools.com/css/" class="techno-img">
                                            <img draggable="false" class="img-fluid" src="../../assets/image/Techno/css-3.png"
                                                alt="CSS" loading="lazy" />
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="skills-section">
                <div class="row skills-block">
                    <div class="col-md-6">
                        <div class="progress-block">
                            <div class="d-flex justify-content-between align-items-center mb-1">
                                <span>HTML</span>
                                <span>100%</span>
                            </div>
                            <mat-progress-bar mode="determinate" value="100"></mat-progress-bar>
                        </div>
                        <div class="progress-block">
                            <div class="d-flex justify-content-between align-items-center mb-1">
                                <span>CSS</span>
                                <span>98%</span>
                            </div>
                            <mat-progress-bar mode="determinate" value="98"></mat-progress-bar>
                        </div>
                        <div class="progress-block">
                            <div class="d-flex justify-content-between align-items-center mb-1">
                                <span>SCSS</span>
                                <span>95%</span>
                            </div>
                            <mat-progress-bar mode="determinate" value="95"></mat-progress-bar>
                        </div>
                        <div class="progress-block">
                            <div class="d-flex justify-content-between align-items-center mb-1">
                                <span>Tailwind CSS</span>
                                <span>90%</span>
                            </div>
                            <mat-progress-bar mode="determinate" value="90"></mat-progress-bar>
                        </div>
                        <div class="progress-block">
                            <div class="d-flex justify-content-between align-items-center mb-1">
                                <span>Bootstrap</span>
                                <span>92%</span>
                            </div>
                            <mat-progress-bar mode="determinate" value="92"></mat-progress-bar>
                        </div>

                    </div>
                    <div class="col-md-6">
                        <div class="progress-block">
                            <div class="d-flex justify-content-between align-items-center mb-1">
                                <span>jquery</span>
                                <span>80%</span>
                            </div>
                            <mat-progress-bar mode="determinate" value="80"></mat-progress-bar>
                        </div>
                        <div class="progress-block">
                            <div class="d-flex justify-content-between align-items-center mb-1">
                                <span>Javascript</span>
                                <span>60%</span>
                            </div>
                            <mat-progress-bar mode="determinate" value="60"></mat-progress-bar>
                        </div>
                        <div class="progress-block">
                            <div class="d-flex justify-content-between align-items-center mb-1">
                                <span>Angular</span>
                                <span>50%</span>
                            </div>
                            <mat-progress-bar mode="determinate" value="50"></mat-progress-bar>
                        </div>
                        <div class="progress-block">
                            <div class="d-flex justify-content-between align-items-center mb-1">
                                <span>Hubspot</span>
                                <span>80%</span>
                            </div>
                            <mat-progress-bar mode="determinate" value="80"></mat-progress-bar>
                        </div>
                        <div class="progress-block">
                            <div class="d-flex justify-content-between align-items-center mb-1">
                                <span>laravel</span>
                                <span>50%</span>
                            </div>
                            <mat-progress-bar mode="determinate" value="50"></mat-progress-bar>
                        </div>

                    </div>
                </div>
            </div>

            <div class="section-title my-5">
                <p class="smoll-title">INTERESTS</p>
            </div>

            <div class="row interests-section">
                <div class="col-md-3 mb-3">
                    <div class="interests-box">
                        <i class="fa-solid fa-music"></i>
                        <span>Moton Ideal</span>
                    </div>
                </div>
                <div class="col-md-3 mb-3">
                    <div class="interests-box">
                        <i class="fa-solid fa-music"></i>
                        <span>Moton Ideal</span>
                    </div>
                </div>
                <div class="col-md-3 mb-3">
                    <div class="interests-box">
                        <i class="fa-solid fa-music"></i>
                        <span>Moton Ideal</span>
                    </div>
                </div>
                <div class="col-md-3 mb-3">
                    <div class="interests-box">
                        <i class="fa-solid fa-music"></i>
                        <span>Moton Ideal</span>
                    </div>
                </div>
                <div class="col-md-3 mb-3">
                    <div class="interests-box">
                        <i class="fa-solid fa-music"></i>
                        <span>Moton Ideal</span>
                    </div>
                </div>
                <div class="col-md-3 mb-3">
                    <div class="interests-box">
                        <i class="fa-solid fa-music"></i>
                        <span>Moton Ideal</span>
                    </div>
                </div>
                <div class="col-md-3 mb-3">
                    <div class="interests-box">
                        <i class="fa-solid fa-music"></i>
                        <span>Moton Ideal</span>
                    </div>
                </div>
                <div class="col-md-3 mb-3">
                    <div class="interests-box">
                        <i class="fa-solid fa-music"></i>
                        <span>Moton Ideal</span>
                    </div>
                </div>
            </div>

            <div class="section-title my-5">
                <p class="smoll-title">TESTIMONIALS</p>
            </div>
        </div>
    </div>
</section>
