.contact-wreppar {
    background-color: rgb(0 0 0 / 71%);
    padding: 25px 20px;
    .section-title {
        .smoll-title {
            font-size: 14px;
            font-weight: 500;
            letter-spacing: 2px;
            text-transform: uppercase;
            margin-bottom:15px;
            line-height: 30px;
            color: #aaaaaa;
            position: relative;
            max-width: max-content;

            &::before {
                content: '';
                position: absolute;
                height: 2px;
                width: 100px;
                background-color: var(--primary);
                left: 110%;
                top: 50%;
                transform: translate(0%, -50%);
            }

        }

        h2 {
            margin: 0;
            margin: -15px 0 15px 0;
            font-size: 36px;
            font-weight: 700;
            text-transform: uppercase;
        }
    }
    .info-box {
        padding: 20px;
        width: 100%;
        background: rgba(255, 255, 255, 0.08);
        display: flex;
        align-items: start;
        .links {
            border-radius: 100%;
            background-color: rgb(0 0 0 / 71%);
            width: 50px;
            height: 50px;
            display: flex;
            align-items: center;
            justify-content: center;
            transition: all 0.5s;
            i {
                color: var(--primary);
            }
            &:hover{
                background-color: var(--primary);
                i {
                    color: var(--white);
                }
            }
        }
        .content-block {
            h3 {
                font-size: 20px;
                font-weight: 700;
                color: #aaaaaa;
                margin-bottom: 5px;
            }

            p,a {
                padding: 0;
                line-height: 20px;
                font-size: 14px;
                color: var(--white);
                margin-bottom: 0px;
            }
            a{
                transition: all 0.5s;
                &:hover{
                    color: var(--primary);
                }
            }
        }
        .social-links {
            margin-top: 15px;
            a{
                display: flex;
                border-radius: 100%;
                background-color: rgb(0 0 0 / 71%);
                width: 40px;
                height: 40px;
                display: flex;
                align-items: center;
                justify-content: center;
                transition: all 0.5s;
                i {
                    color: var(--white);
                }
                &:hover{
                    background-color: var(--primary);
                }
            }
        }
    }
}
