<section class="main-block">
    <div class="container">
        <!-- <div class="contact-wreppar">
            <div class="img-block">
                <div>
                    <div class="contact-links">
                        <i class="fa mt-1 fa-location-dot"></i>
                        <p class="mb-0">
                            185, Dhanmora Chowk, Katargam, , Surat - 395 009, Gujarat, India.
                        </p>
                    </div>
                    <div class="contact-links">
                        <i class="fas fa-phone-volume"></i>
                        <a href="tel:+91 9714514703">
                            +91 9714514703
                        </a>
                    </div>
                    <div class="contact-links">
                        <i class="fa-light fa fa-envelope"></i>
                        <a href="mailto:hardikoffice61@gmail.com">
                            hardikoffice61@gmail.com
                        </a>
                    </div>
                </div>
            </div>
            <div class="from-block">
                <form class="contact-form">
                    
                </form>
            </div>
        </div> -->
    </div>
</section>
