<!-- CONTACT SECTION START HEAR -->
<section class="contact-section" id="contact">
    <p-toast></p-toast>

    <div class="container-lg">
        <div class="title z-3 position-relative mb-3 mb-md-5" data-aos="fade-down"
            data-aos-anchor-placement="top-bottom" data-aos-easing="linear">
            <h4>{{translateService.content.contactCapital}}</h4>
            <h2>{{translateService.content.contactCapital}} {{translateService.content.me}}</h2>
        </div>
        <div class="contact-block row align-items-center" data-aos="fade-up" data-aos-easing="linear">
            <div class="col-md-6 col-lg-5 mb-4 mb-md-0">
                <div class="contact-left">
                    <div>
                        <h2>{{translateService.content.contact}} {{translateService.content.information}}</h2>
                        <p>{{translateService.content.contactCaption}}</p>
                    </div>
                    <div class="links-block">
                        <div *ngFor="let contact of myInformation" class="mb-3 d-flex align-items-start gap-3">
                            <i class="{{contact.icon}}"></i>
                            <a [href]="contact.link">{{contact.text}}</a>
                        </div>
                    </div>
                    <div class="icon-block gap-2">
                        <a *ngFor="let link of socialLinks" [href]="link.url">
                            <i class="fab {{ link.icon }}"></i>
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-7">
                <form autocomplete="off" class="row form-validation" [formGroup]="userForm" action="javascript:void(0)"
                    (submit)="send()">
                    <div class="col-lg-6">
                        <mat-form-field>
                            <mat-label>{{translateService.content.firstName}}</mat-label>
                            <input formControlName="firstName"
                                placeholder="{{translateService.content.enterYour}} {{translateService.content.firstName}}"
                                class="form-control" id="firstName" name="firstName" matInput>
                        </mat-form-field>
                        <div *ngIf="userForm.controls['firstName'].invalid && userForm.controls['firstName'].touched">
                            <small class="text-danger" *ngIf="userForm.get('firstName')?.hasError('required')">First
                                Name is Required</small>
                        </div>
                    </div>
                    <div class="col-lg-6 mt-4 mt-md-5 mt-lg-0">
                        <mat-form-field>
                            <mat-label>{{translateService.content.lastName}}</mat-label>
                            <input formControlName="lastName"
                                placeholder="{{translateService.content.enterYour}} {{translateService.content.lastName}}"
                                class="form-control" id="lastName" name="lastName" matInput>
                        </mat-form-field>
                        <div *ngIf="userForm.controls['lastName'].invalid && userForm.controls['lastName'].touched">
                            <small class="text-danger" *ngIf="userForm.get('lastName')?.hasError('required')">Last Name
                                is Required</small>
                        </div>
                    </div>
                    <div class="col-12 mt-4 mt-md-5">
                        <mat-form-field>
                            <mat-label>{{translateService.content.email}}</mat-label>
                            <input type="email" formControlName="email"
                                placeholder="{{translateService.content.enterYour}} {{translateService.content.email}}"
                                class="form-control appearance-none" id="email" name="email" matInput required>
                        </mat-form-field>
                        <div *ngIf="userForm.controls['email'].invalid && userForm.controls['email'].touched">
                            <small class="text-danger" *ngIf="userForm.get('email')?.hasError('required')">Email is a
                                required field!</small>
                            <small class="text-danger" *ngIf="userForm.get('email')?.hasError('email')">Invalid email
                                format!</small>
                        </div>
                    </div>
                    <div class="col-12 mt-4 mt-md-5">
                        <mat-form-field>
                            <mat-label>{{translateService.content.mobileNumber}}</mat-label>
                            <input type="number" formControlName="phone" pattern="^\d{10}$"
                                placeholder="{{translateService.content.enterYour}} {{translateService.content.mobileNumber}}"
                                class="form-control appearance-none" id="phone" name="phone" matInput>
                        </mat-form-field>
                        <div *ngIf="userForm.controls['phone'].invalid && userForm.controls['phone'].touched">
                            <small class="text-danger" *ngIf="userForm.get('phone')?.hasError('required')">Mobile Number
                                is Required</small>
                            <small class="text-danger" *ngIf="userForm.get('phone')?.hasError('pattern')">Mobile Number
                                must be 10 digits</small>
                        </div>
                    </div>
                    <div class="col-12 mt-4 mt-md-5">
                        <mat-form-field>
                            <mat-label>{{translateService.content.message}}</mat-label>
                            <textarea formControlName="message" class="form-control" id="message" name="message"
                                matInput placeholder="Write Your Message Here"></textarea>
                        </mat-form-field>
                        <div *ngIf="userForm.controls['message'].invalid && userForm.controls['message'].touched">
                            <small class="text-danger">Write Your Message Here is Required</small>
                        </div>
                    </div>
                    <div class="col-12 mt-4 mt-md-5 justify-content-start justify-content-sm-end d-flex">
                        <button class="button-primary-outline ms-sm-3"
                            type="submit">{{translateService.content.sendMessage}}</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>
<!-- CONTACT SECTION END HEAR -->