<!-- CONTACT SECTION START HEAR -->
<section class="contact-section" id="contact">
    <div class="container-lg">
        <div class="title mb-3 mb-md-5" data-aos="fade-down" data-aos-anchor-placement="top-bottom"
            data-aos-easing="linear">
            <h4>{{translateService.content.contactCapital}}</h4>
            <h2>{{translateService.content.contactCapital}} {{translateService.content.me}}</h2>
        </div>
        <div class="contact-block row align-items-center" data-aos="fade-up" data-aos-easing="linear">
            <div class="col-md-6 col-lg-5 mb-4 mb-md-0">
                <div class="contact-left">
                    <div>
                        <h2>{{translateService.content.contact}} {{translateService.content.information}}</h2>
                        <p>{{translateService.content.contactCaption}}</p>
                    </div>
                    <div class="links-block">
                        <div *ngFor="let contact of myInformation" class="mb-3 d-flex align-items-start gap-3">
                            <i class="{{contact.icon}}"></i>
                            <a [href]="contact.link">{{contact.text}}</a>
                        </div>
                    </div>
                    <div class="icon-block gap-2">
                        <a *ngFor="let link of socialLinks" [href]="link.url">
                            <i class="fab {{ link.icon }}"></i>
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-7">
                <form autocomplete="off" class="row form-validation" #userForm="ngForm">
                    <div class="col-lg-6">
                        <mat-form-field>
                            <mat-label>{{translateService.content.enterYour}} {{translateService.content.firstName}}</mat-label>
                            <input #firstName="ngModel" [class.is-invalid]="firstName.invalid && firstName.touched" class="form-control" id="firstName" name="firstName" [(ngModel)]="userModel.firstName" required matInput>
                        </mat-form-field>
                        <small class="text-danger" [class.d-none]="firstName.valid || firstName.untouched">FirstName is Required</small>
                    </div>
                    <div class="col-lg-6 mt-4 mt-md-5 mt-lg-0">
                        <mat-form-field>
                            <mat-label>{{translateService.content.enterYour}} {{translateService.content.lastName}}</mat-label>
                            <input #lastName="ngModel" [class.is-invalid]="lastName.invalid && lastName.touched" class="form-control" id="lastName" name="lastName" [(ngModel)]="userModel.lastName" required matInput>
                        </mat-form-field>
                        <small class="text-danger" [class.d-none]="lastName.valid || lastName.untouched">LastName is Required</small>
                    </div>

                    <div class="col-12 mt-4 mt-md-5">
                        <mat-form-field>
                            <mat-label>{{translateService.content.enterYour}} {{translateService.content.email}}</mat-label>
                            <input type="email" #email="ngModel"required
                            [class.is-invalid]="email.invalid && email.touched" class="form-control appearance-none" id="email" name="email"
                            [(ngModel)]="userModel.email" matInput>
                        </mat-form-field>
                        <div *ngIf="email.errors && (email.invalid && email.touched)">
                            <small class="text-danger" *ngIf="email.errors['required']">Email is a required field!</small>
                        </div>
                    </div>

                    <div class="col-12 mt-4 mt-md-5">
                        <mat-form-field>
                            <mat-label>{{translateService.content.mobileNumber}}</mat-label>
                            <input type="number" #phone="ngModel" pattern="^\d{10}$" required
                            [class.is-invalid]="phone.invalid && phone.touched" class="form-control appearance-none" id="phone" name="phone"
                            [(ngModel)]="userModel.phone" matInput>
                        </mat-form-field>
                        <div *ngIf="phone.errors && (phone.invalid && phone.touched)">
                            <small class="text-danger" *ngIf="phone.errors['required']">Mobile Number is Required</small>
                            <small class="text-danger" *ngIf="phone.errors['pattern']">Mobile Number must be 10 digits</small>
                        </div>
                    </div>

                    <div class="col-12 mt-4 mt-md-5">
                        <mat-form-field>
                            <mat-label>{{translateService.content.message}}</mat-label>
                            <textarea #message="ngModel" [class.is-invalid]="message.invalid && message.touched" class="form-control" id="message" name="message" [(ngModel)]="userModel.message" required matInput placeholder="Write Your Message Here"></textarea>
                        </mat-form-field>
                        <small class="text-danger" [class.d-none]="message.valid || message.untouched">Write Your Message Here is Required</small>
                    </div>

                    <div class="col-12 mt-4 mt-md-5 justify-content-end d-flex">
                        <button (click)="submitForm(userForm)" class="button-primary-outline ms-3" type="submit">{{translateService.content.sendMessage}}</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>
<!-- CONTACT SECTION END HEAR -->

<!-- <ng-template #myDialog>
    <div class="contact-form-model">
        <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
            <div class="modal-content">
                <div class="modal-header">
                    <h2 class="modal-title fs-5" id="staticBackdropLabel">Information</h2>
                    <button class="close-icon" mat-button matDialogClose><i class="fa fa-xmark"></i></button>
                </div>
                <mat-dialog-content>
                    <div class="form-details">
                        <div class="form-input-box gap-2">
                            <h6>First Name :-</h6>
                            <p id="firstName">{{ formValues.FirstName }}</p>
                        </div>
                        <div class="form-input-box gap-2">
                            <h6>Last Name :-</h6>
                            <p id="lastName">{{ formValues.LastName }}</p>
                        </div>
                        <div class="form-input-box gap-2">
                            <h6>Email Address :-</h6>
                            <p id="emailAddress">{{ formValues.Email }}</p>
                        </div>
                        <div class="form-input-box gap-2">
                            <h6>Mobile Number :-</h6>
                            <p id="mobileNumber">{{ formValues.Number }}</p>
                        </div>
                        <div class="form-input-box gap-2">
                            <h6>Message :-</h6>
                            <p id="message">{{ formValues.Message }}</p>
                        </div>
                    </div>
                </mat-dialog-content>
                <div class="modal-footer">
                    <button type="button" class="button-primary-outline" mat-button matDialogClose>Submit</button>
                </div>
            </div>
        </div>
    </div>
</ng-template> -->