<!-- CONTACT SECTION START HEAR -->
<section class="contact-section" id="contact">
    <div class="container">
        <div class="title mb-5" data-aos="fade-down" data-aos-anchor-placement="top-bottom" data-aos-easing="linear">
            <h4>CONTACT</h4>
            <h2>CONTACT ME </h2>
        </div>
        <div class="contact-block row align-items-center" data-aos="fade-up" data-aos-easing="linear">
            <div class="col-5">
                <div class="contact-left">
                    <div>
                        <h2>Contact Information</h2>
                        <p>Say something to start a chat!</p>
                    </div>
                    <div class="links-block">
                        <div class="mb-3 d-flex align-items-start gap-3">
                            <i class="fa-solid fa-lg fa-phone-volume"></i>
                            <a href="#!">(+1) 510-945-8169</a>
                        </div>
                        <div class="mb-3 d-flex align-items-start gap-3">
                            <i class="fa-solid fa-lg fa-envelope"></i>
                            <a href="#!">info@smarttrak.co</a>
                        </div>
                        <div class="mb-3 d-flex align-items-start gap-3">
                            <i class="fa-solid fa-lg fa-location-dot"></i>
                            <a href="#!">300 S Main Street, Suite 212 Holly Springs, NC 27540</a>
                        </div>
                    </div>
                    <div class="icon-block gap-2">
                        <a *ngFor="let link of socialLinks" [href]="link.url">
                            <i class="fab {{ link.icon }}"></i>
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-7">
                <form class="row contact-right" [formGroup]="contactForm" (ngSubmit)="onSubmit()">
                    <div class="col-md-6">
                        <mat-form-field>
                            <mat-label>Enter Your First Name</mat-label>
                            <input matInput required placeholder="" formControlName="FirstName">
                        </mat-form-field>
                    </div>
                    <div class="col-md-6">
                        <mat-form-field>
                            <mat-label>Enter Your Last Name</mat-label>
                            <input matInput required placeholder="" formControlName="LastName">
                        </mat-form-field>
                    </div>
                    <div class="col-12 mt-5">
                        <mat-form-field>
                            <mat-label>Enter Your Email</mat-label>
                            <input matInput required type="email" placeholder="" formControlName="Email">
                        </mat-form-field>
                    </div>
                    <div class="col-12 mt-5">
                        <mat-form-field>
                            <mat-label>Mobile Number</mat-label>
                            <input matInput required class="appearance-none" type="number" placeholder=""
                                formControlName="Number">
                        </mat-form-field>
                    </div>
                    <div class="col-12 mt-5">
                        <mat-form-field>
                            <mat-label>Message</mat-label>
                            <textarea required matInput placeholder="Write Your Message Here"
                                formControlName="Message"></textarea>
                        </mat-form-field>
                    </div>
                    <div class="col-12 mt-5 justify-content-end d-flex">
                        <!-- <button class="button-primary" type="button" data-bs-toggle="modal"
                            data-bs-target="#contact-model">
                            Show Details 
                        </button> -->
                        <button class="button-primary ms-3" type="submit">
                            Send Message
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>
<!-- CONTACT SECTION END HEAR -->

<!-- Modal -->
<div class="modal fade contact-form-model" id="contact-model" data-bs-backdrop="static" data-bs-keyboard="false"
    tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
        <div class="modal-content">
            <div class="modal-header">
                <h2 class="modal-title fs-5" id="staticBackdropLabel">Information</h2>
                <a href="#!" data-bs-dismiss="modal" aria-label="Close"><i class="fa fa-xmark"></i></a>
            </div>
            <div class="modal-body form-details">
                <div class="form-input-box gap-2">
                    <h6>First Name :-</h6>
                    <p id="firstName">{{ formValues.FirstName }}</p>
                </div>
                <div class="form-input-box gap-2">
                    <h6>Last Name :-</h6>
                    <p id="lastName">{{ formValues.LastName }}</p>
                </div>
                <div class="form-input-box gap-2">
                    <h6>Email Address :-</h6>
                    <p id="emailAddress">{{ formValues.Email }}</p>
                </div>
                <div class="form-input-box gap-2">
                    <h6>Mobile Number :-</h6>
                    <p id="mobileNumber">{{ formValues.Number }}</p>
                </div>
                <div class="form-input-box gap-2">
                    <h6>Message :-</h6>
                    <p id="message">{{ formValues.Message }}</p>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="button-primary" data-bs-dismiss="modal" aria-label="Close">Submit</button>
            </div>
        </div>
    </div>
</div>