/*CONTACT SECTION CSS START HEAR*/
.contact-section {
  padding: 100px 0px 50px;
  position: relative;
}
@media screen and (max-width: 1240px) {
  .contact-section {
    padding: 60px 0px;
  }
}
@media screen and (max-width: 1024px) {
  .contact-section {
    padding: 60px 20px 50px;
  }
}
@media screen and (max-width: 575px) {
  .contact-section {
    padding: 60px 0px 20px;
  }
}
.contact-section .contact-block {
  padding: 40px 30px;
  border-radius: 10px;
  box-shadow: rgba(92, 185, 242, 0.28) 0px 0px 27px, rgba(0, 0, 0, 0.6) 0px 6px 6px;
  position: relative;
  z-index: 10;
}
@media screen and (max-width: 575px) {
  .contact-section .contact-block {
    padding: 10px 0px;
    margin: 0px;
  }
}
.contact-section .contact-block .contact-left {
  background-color: #03071C;
  border-radius: 10px;
  min-height: 600px;
  padding: 40px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: relative;
  overflow: hidden;
}
@media screen and (max-width: 991px) {
  .contact-section .contact-block .contact-left {
    padding: 25px;
  }
}
@media screen and (max-width: 767px) {
  .contact-section .contact-block .contact-left {
    min-height: 500px;
  }
}
@media screen and (max-width: 575px) {
  .contact-section .contact-block .contact-left {
    padding: 15px;
    min-height: 400px;
    box-shadow: rgba(92, 185, 242, 0.59) 0px 0px 8px, rgba(0, 0, 0, 0.6) 0px 6px 6px;
  }
}
.contact-section .contact-block .contact-left::before {
  content: "";
  position: absolute;
  bottom: -140px;
  right: -119px;
  height: 300px;
  width: 300px;
  background-color: #132b44;
  border-radius: 100%;
}
@media screen and (max-width: 575px) {
  .contact-section .contact-block .contact-left::before {
    height: 260px;
    width: 260px;
  }
}
.contact-section .contact-block .contact-left::after {
  content: "";
  position: absolute;
  bottom: 50px;
  right: 50px;
  height: 150px;
  width: 150px;
  background-color: rgba(83, 178, 235, 0.27);
  border-radius: 100%;
}
@media screen and (max-width: 575px) {
  .contact-section .contact-block .contact-left::after {
    height: 100px;
    width: 100px;
  }
}
.contact-section .contact-block .contact-left h2 {
  font-weight: 600;
  font-size: 35px;
  margin-bottom: 0px;
  background: linear-gradient(to bottom right, var(--primary) 47%, var(--sky) 70%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
@media screen and (max-width: 767px) {
  .contact-section .contact-block .contact-left h2 {
    font-size: 27px;
  }
}
@media screen and (max-width: 575px) {
  .contact-section .contact-block .contact-left h2 {
    font-size: 23px;
  }
}
.contact-section .contact-block .contact-left .links-block {
  position: relative;
  z-index: 10;
}
.contact-section .contact-block .contact-left .links-block a {
  color: #fff;
  font-weight: 400;
  font-size: 16px;
  line-height: 28px;
}
@media screen and (max-width: 575px) {
  .contact-section .contact-block .contact-left .links-block a {
    font-size: 14px;
  }
}
.contact-section .contact-block .contact-left .links-block i {
  color: #fff;
  padding-top: 14px;
}
.contact-section .contact-block .contact-left .icon-block {
  display: flex;
  align-items: center;
  position: relative;
  z-index: 10;
}
.contact-section .contact-block .contact-left .icon-block a {
  width: 35px;
  height: 35px;
  border-radius: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--sky);
  transition: all 0.5s;
}
.contact-section .contact-block .contact-left .icon-block a i {
  color: #fff;
  transition: all 0.5s;
}
.contact-section .contact-block .contact-left .icon-block a:hover {
  background-color: var(--white);
}
.contact-section .contact-block .contact-left .icon-block a:hover i {
  color: var(--black);
}

/*CONTACT SECTION CSS END HEAR*/
.form-control:focus {
  background-color: transparent !important;
  box-shadow: none !important;
}
.form-control:focus.is-invalid:focus {
  box-shadow: none !important;
  border-color: transparent !important;
}

textarea::-moz-placeholder {
  color: #fff !important;
  font-size: 14px !important;
}

textarea::placeholder {
  color: #fff !important;
  font-size: 14px !important;
}

input::-moz-placeholder {
  color: #fff !important;
  font-size: 14px !important;
}

input::placeholder {
  color: #fff !important;
  font-size: 14px !important;
}/*# sourceMappingURL=contact.component.css.map */