.button-content {
  position: fixed;
  right: 40px;
  bottom: 60px;
  display: flex;
  align-items: end;
  z-index: 999;
}
@media screen and (max-width: 575px) {
  .button-content {
    right: 15px;
    bottom: 55px;
  }
}
@media screen and (max-height: 600px) {
  .button-content {
    bottom: 15px;
  }
}
.button-content .scroll-top {
  color: #fff;
  background-color: rgba(19, 43, 68, 0.431372549);
  width: 50px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  -webkit-backdrop-filter: blur(10px);
          backdrop-filter: blur(10px);
  border-radius: 100%;
  border: 1px solid var(--sky);
  cursor: pointer;
  color: var(--sky);
}
@media screen and (max-width: 575px) {
  .button-content .scroll-top {
    width: 40px;
    height: 40px;
  }
  .button-content .scroll-top i {
    font-size: 16px !important;
  }
}
@media screen and (max-height: 600px) {
  .button-content .scroll-top {
    position: absolute;
    right: 60px;
    z-index: 9999;
  }
}

:host ::ng-deep .menuitems .p-speeddial {
  position: relative;
  right: 0px;
  top: 0px;
  z-index: 999;
}
:host ::ng-deep .menuitems .p-button {
  background-color: rgba(19, 43, 68, 0.431372549);
  width: 50px;
  height: 50px;
  border: 1px solid var(--sky);
  color: var(--sky);
}
:host ::ng-deep .menuitems .p-button:focus {
  box-shadow: none !important;
}
@media screen and (max-width: 575px) {
  :host ::ng-deep .menuitems .p-button {
    width: 40px;
    height: 40px;
  }
}
:host ::ng-deep .menuitems .p-speeddial-button.p-button.p-button-icon-only .p-icon {
  width: 20px !important;
  height: 20px !important;
}
@media screen and (max-width: 575px) {
  :host ::ng-deep .menuitems .p-speeddial-button.p-button.p-button-icon-only .p-icon {
    width: 16px !important;
    height: 16px !important;
  }
}
@media screen and (max-width: 575px) {
  :host ::ng-deep .menuitems .p-speeddial-list li a {
    width: 40px !important;
    height: 40px !important;
  }
}
:host ::ng-deep .menuitems .p-speeddial-list li:first-child a {
  background-color: #52b936 !important;
}
:host ::ng-deep .menuitems .p-speeddial-list li:nth-child(2) a {
  background-color: #135cb6 !important;
}
:host ::ng-deep .menuitems .p-speeddial-list li:nth-child(3) a {
  background-color: #007bb5 !important;
}
:host ::ng-deep .menuitems .p-speeddial-list li:nth-child(4) a {
  background: radial-gradient(circle farthest-corner at 10% 75%, rgb(255, 225, 125) 0%, rgb(255, 205, 105) 12%, rgb(250, 145, 55) 25%, rgb(235, 65, 65) 40%, transparent 75%), linear-gradient(-15deg, rgb(35, 75, 215) 20%, rgb(195, 60, 190) 90%) !important;
}
:host ::ng-deep .menuitems .p-speeddial-list li:nth-child(5) a {
  background-color: #00aced !important;
}
:host ::ng-deep .menuitems .p-speeddial-list li:nth-child(6) a {
  background-color: #1FB381 !important;
}
:host ::ng-deep .menuitems .p-speeddial-list li:last-child a {
  background-color: var(--sky) !important;
}
:host ::ng-deep .p-button {
  position: relative;
  z-index: 999;
}
:host ::ng-deep .p-dialog .p-dialog-header {
  background: #1a2734 !important;
  padding: 15px 20px !important;
  cursor: auto !important;
}
:host ::ng-deep .p-dialog .p-dialog-header .p-dialog-header-icon {
  border-radius: 100%;
  border: 2px solid var(--sky);
  height: 35px;
  width: 35px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.5s;
  background-color: transparent;
  color: var(--sky);
}
:host ::ng-deep .p-dialog .p-dialog-header .p-dialog-header-icon:hover {
  transform: rotate(360deg);
  background-color: var(--sky) !important;
  color: var(--white) !important;
}
:host ::ng-deep .p-dialog .p-dialog-footer {
  background: #1a2734 !important;
  padding: 15px 20px !important;
}

@media screen and (max-height: 600px) {
  :host ::ng-deep .p-speeddial-direction-up {
    align-items: end !important;
  }
  :host ::ng-deep .p-speeddial-direction-up .p-speeddial-list {
    flex-direction: row !important;
    gap: 5px;
  }
}

.modal-top {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.modal-top h3 {
  margin-bottom: 0px;
  font-size: 20px !important;
  font-weight: 500;
  color: var(--white);
  text-align: start;
  font-family: "Montserrat", sans-serif !important;
}

.modal-center {
  background-color: #fff;
}
.modal-center img {
  width: 100%;
  height: 100%;
}/*# sourceMappingURL=overview.component.css.map */