<section class="star-layers">
    <app-bennar></app-bennar>
    <app-about></app-about>
    <app-skills></app-skills>
    <app-services></app-services>
    <app-contact></app-contact>
   
    <div class="star-layer" id="stars"></div>
    <div class="star-layer" id="stars2"></div>
    <div class="star-layer" id="stars3"></div>
    <p-toast></p-toast>
   <div class="button-content gap-1 gap-sm-3">
        <a class="scroll-top" *ngIf="showBtn$ | async" (click)="gotoTop()">
            <i class="fa-solid fa-xl fa-arrow-up"></i>
        </a>
        <div class="menuitems">
            <p-speedDial [model]="leftTooltipItems" className="speeddial-right" direction="up"></p-speedDial>
        </div>
   </div>
   <!-- <button type="button" data-bs-toggle="modal" data-bs-target="#resumeModal"></button> -->
</section>



<!-- Modal -->
<div class="modal fade" id="resumeModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true" #myModal>
    <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
        <div class="modal-content">
            <div class="modal-top">
                <h3 class="fs-5 mb-0" id="resumeModalLabel">MY RESUME</h3>
                <button class="close-icon" data-bs-dismiss="modal" aria-label="Close"><i
                        class="fa fa-xmark"></i></button>
            </div>
            <div class="modal-body">
                <div class="modal-center row align-items-end">  
                    <div class="col-6">
                        <img src="../../../assets/image/profile-data.svg" alt="resume">
                    </div>
                    <div class="col-6">

                        <img src="https://cdn-blog.novoresume.com/articles/resume-examples/resume-example.webp"
                            alt="resume">
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button class="button-primary-outline" data-bs-dismiss="modal" aria-label="Close">Close</button>
                <a href="https://cdn-blog.novoresume.com/articles/resume-examples/resume-example.webp"
                    download="resume-example.webp" class="button-primary" (click)="closeResumeModal()">Download</a>
            </div>
        </div>
    </div>
</div>