.main-block{
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--dark-black);
    // background: url(https://images.pexels.com/photos/18495/pexels-photo.jpg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1) no-repeat;
    // background: url(../../assets/image/overview-image.webp) no-repeat;
    background-position: center;
    background-size: cover;    
    color: var(--secondary);

    h1{
        color: var(--primary);
        font-size: 55px;
    }
    h2{
        font-size: 30px;
        span{
            border-bottom: 2px solid var(--primary);
            padding-bottom: 3px;
        }
    }
    .navbar{
        margin-top:25px;
        ul{
            display: flex;
            align-items: center;
            padding: 0px;
            margin: 0px;
            li{
                list-style: none;
                font-size: 16px;
                font-weight: 600;
                a{
                    position: relative;
                    transition: all 0.5s;
                    cursor: pointer;
                    &::after{
                        content: '';
                        position: absolute;
                        height: 2px;
                        width: 0%;
                        background-color: var(--primary);
                        left: 0px;
                        bottom: 0px;
                        transition: all 0.5s;
                    }
                    &.active{
                        color: var(--primary);
                        &::after{
                            width: 100%;
                        }
                    }
                    &:hover{
                        color: var(--primary);
                        &::after{
                            width: 100%;
                        }
                    }
                }
            }
        }
    }
    .social-links{
        display: flex;
        align-items: center;
        margin-top: 20px;
        a{
            width: 40px;
            height: 40px;
            border-radius: 100%;
            overflow: hidden;
            background-color:rgba(255, 255, 255, 0.1);;
            display: flex;
            align-items: center;
            justify-content: center;
            transition: all 0.5s;
            i{
                font-size: 20px;
                color: var(--white);
            }

            &:hover{
                background-color: var(--primary);
            }
        }
    }
}