<!-- BENNAR SECTION START HEAR -->
<section class="bennar-section" id="home">
    <div class="custom-container">
        <div class="title align-items-center mb-3">
            <h4>Hello, I'm</h4>
            <h2>HARDIK KAKLOTAR</h2>
        </div>
        <div class="bennar-block">
            <a href="#!" class="button-primary mx-auto">A Web Designer From Surat, Gujarat, India</a>
            <div class="d-flex flex-column justify-content-center text-white space-block">
                <span class="line mx-auto line-5 mt-2 "></span>
                <i class="fa-solid fa-angle-down arrow-down"></i>
            </div>
            <div class="btn-block">
                <div>
                    <div class="d-flex flex-column justify-content-center ms-2 text-white">
                        <span class="line mx-auto line-1"></span>
                        <i class="fa-solid fa-angle-down arrow-down"></i>
                    </div>
                    <a href="#about" class="button-primary">About</a>
                </div>
                <div>
                    <div class="d-flex flex-column justify-content-center text-white">
                        <span class="line mx-auto line-2"></span>
                        <i class="fa-solid fa-angle-down arrow-down"></i>
                    </div>
                    <a href="#skills" class="button-primary">Skills</a>
                </div>
                <div>
                    <div class="d-flex flex-column justify-content-center text-white">
                        <span class="line mx-auto line-3"></span>
                        <i class="fa-solid fa-angle-down arrow-down"></i>
                    </div>
                    <a href="#services" class="button-primary">Services</a>
                </div>
                <div>
                    <div class="d-flex flex-column justify-content-center text-white">
                        <span class="line mx-auto line-4"></span>
                        <i class="fa-solid fa-angle-down arrow-down"></i>
                    </div>
                    <a href="#contact" class="button-primary">Contact</a>
                </div>
            </div>
        </div>

    </div>
    <div class="container">
        <p class="text-center pt-5 mt-1">
            We are your trusted software development
            company with many years of experience and
            expertise in building next-gen software
            development solutions that empower
            businesses for tomorrow.Experienced Web Designer With A Demonstrated History Of Working In The Information
            Technology And Services Industry. Banner Design, Book Cover Page, Logo Design, Flyer Design, Business
            Visiting Card, Etc.. I Can Provide You With Efficient And Unique Web Design And Graphics Work For Your
            Unique Brand Keeping SEO In Mind.Uniq Ness And Attractive Design, User Can Easily Used And Understanding.
        </p>
    </div>
</section>
<!-- BENNAR SECTION END HEAR -->

<!-- ABOUT SECTION START HEAR -->
<section class="about_section" id="about">
    <div class="container">
        <div class="about_wrapper">
            <div class="title">
                <h4>ABOUT ME</h4>
                <h2>LEARN MORE ABOUT ME</h2>
            </div>
            <div class="row about_block">
                <div class="col-md-6">
                    <div class="img-block">

                    </div>
                </div>
                <div class="col-md-6">
                    <div class="content_block">
                        <h6>I'm a Designer</h6>
                        <h2>I Can Design Anything You Want</h2>
                        <p>Experienced Web Designer With A Demonstrated History Of Working In The Information Technology
                            And Services Industry.
                            I Have Also Experience In Graphics Design Like Poster Design, Banner Design, Book Cover
                            Page, Logo Design, Flyer Design, Business Visiting Card, Etc..

                        </p>
                        <p>
                            I Am Working As A Freelance Web Design And Graphics Design, I Can Provide You With Efficient
                            And Unique Web Design And Graphics Work For Your Unique Brand Keeping SEO In Mind.
                            I Can Provide User Friendly Website Design Looking Simple, Uniq Ness And Attractive Design,
                            User Can Easily Used And Understanding.
                        </p>
                        <a href="#!" class="button-primary">Hire me</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- ABOUT SECTION END HEAR -->

<!-- SKILLS SECTION START HEAR -->
<section class="skills_section">
    <div class="container">
        <div class="skills_wrapper">
            <div class="title">
                <h4>SKILLS</h4>
                <h2>I Develop Skills Regularly to Keep Me Update</h2>
            </div>
            <div class="our-technology">
                <div class="our-techno">
                    <div class="center-title">
                        <h4>SKILLS</h4>
                    </div>

                    <div class="line-1">
                        <div class="circle-1"></div>
                        <a href="https://angular.io/" class="techno-img">
                            <img draggable="false" class="img-fluid" src="../../assets/image/Techno/angular.png"
                                alt="Angular" loading="lazy" />
                        </a>
                    </div>
                    <div class="line-2">
                        <div class="circle-2"></div>
                        <a href="https://jquery.com/" class="techno-img">
                            <img draggable="false" class="img-fluid" src="../../assets/image/Techno/jquery.png"
                                alt="Angular" loading="lazy" />
                        </a>
                    </div>
                    <div class="line-3">
                        <div class="circle-3"></div>
                        <a href="https://sass-lang.com/" class="techno-img">
                            <img draggable="false" class="img-fluid" src="../../assets/image/Techno/sass.webp"
                                alt="SCSS" loading="lazy" />
                        </a>
                    </div>
                    <div class="line-4">
                        <div class="circle-4"></div>
                        <a href="https://www.javascript.com/" class="techno-img">
                            <img draggable="false" class="img-fluid rounded-circle"
                                src="../../assets/image/Techno/javascript.png" alt="JavaScript" loading="lazy" />
                        </a>
                    </div>
                    <div class="line-5">
                        <div class="circle-5"></div>
                        <a href="https://www.w3schools.com/html/" class="techno-img">
                            <img draggable="false" class="img-fluid" src="../../assets/image/Techno/html-5.png"
                                alt="HTML" loading="lazy" />

                        </a>
                    </div>
                    <div class="line-6">
                        <div class="circle-6"></div>
                        <a href="https://www.typescriptlang.org/" class="techno-img">
                            <img draggable="false" class="img-fluid" src="../../assets/image/Techno/typescript.png"
                                alt="TypeScript" loading="lazy" />
                        </a>
                    </div>
                    <div class="line-7">
                        <div class="circle-7"></div>
                        <a href="https://www.hubspot.com/" class="techno-img">
                            <img draggable="false" class="img-fluid" src="../../assets/image/Techno/Hubspot.png"
                                alt="Hubspot" loading="lazy" />
                        </a>
                    </div>
                    <div class="line-8">
                        <div class="circle-8"></div>
                        <a href="https://getbootstrap.com/" class="techno-img">
                            <img draggable="false" class="img-fluid rounded-circle"
                                src="../../assets/image/Techno/bootstrap.png" alt="bootstrap" loading="lazy" />
                        </a>
                    </div>
                    <div class="line-9">
                        <div class="circle-9"></div>
                        <a href="https://tailwindcss.com/" class="techno-img">
                            <img draggable="false" class="img-fluid" src="../../assets/image/Techno/tailwind.png"
                                alt="tailwind" loading="lazy" />
                        </a>
                    </div>
                    <div class="line-10">
                        <div class="circle-10"></div>
                        <a href="https://www.w3schools.com/css/" class="techno-img">
                            <img draggable="false" class="img-fluid" src="../../assets/image/Techno/css-3.png" alt="CSS"
                                loading="lazy" />
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- SKILLS SECTION END HEAR -->