.scroll-top{
    position: fixed;
    right:40px;
    bottom: 60px;
    color: #fff;
    background-color:#132b446e;
    width: 70px;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
    z-index: 999;
    backdrop-filter: blur(10px);
    cursor: pointer;
    i{
        margin-top:18px;
    }
}