/*BENNAR SECTION CSS START HEAR*/
.bennar-section {
  padding-top: 180px;
  padding-bottom: 30px;
  align-items: center;
  display: grid;
  color: var(--primary);
}
@media screen and (max-width: 767px) {
  .bennar-section {
    padding-top: 130px;
  }
}
@media screen and (max-width: 575px) {
  .bennar-section {
    padding-top: 100px;
  }
}
.bennar-section .custom-container {
  width: 100%;
  max-width: 900px;
  margin: 0 auto;
}
.bennar-section .custom-container .title {
  text-align: center;
}
.bennar-section .custom-container .title h4 {
  font-size: 40px;
  font-family: "Ephesis", cursive !important;
}
@media screen and (max-width: 991px) {
  .bennar-section .custom-container .title h4 {
    font-size: 25px;
  }
}
@media screen and (max-width: 575px) {
  .bennar-section .custom-container .title h4 {
    font-size: 20px;
  }
}
.bennar-section .custom-container .title h2 {
  font-size: 45px;
}
@media screen and (max-width: 991px) {
  .bennar-section .custom-container .title h2 {
    font-size: 30px;
  }
}
@media screen and (max-width: 575px) {
  .bennar-section .custom-container .title h2 {
    font-size: 25px;
  }
}
@media screen and (max-width: 991px) {
  .bennar-section .custom-container .bennar-block {
    max-width: 766px;
    margin: 0px auto;
    padding: 0px 20px;
  }
}
@media screen and (max-width: 767px) {
  .bennar-section .custom-container .bennar-block {
    max-width: 576px;
  }
}
@media screen and (max-width: 575px) {
  .bennar-section .custom-container .bennar-block {
    padding: 0px 10px;
    max-width: 320px;
  }
}
.bennar-section .custom-container .bennar-block .line {
  display: block;
  width: 2px;
  height: 100px;
  background-color: #fff;
  position: relative;
}
@media screen and (max-width: 767px) {
  .bennar-section .custom-container .bennar-block .line {
    height: 80px;
  }
}
@media screen and (max-width: 575px) {
  .bennar-section .custom-container .bennar-block .line {
    height: 60px;
  }
}
.bennar-section .custom-container .bennar-block .line::after {
  width: 13px;
  height: 13px;
  border-radius: 100%;
  background-color: var(--sky);
  content: "";
  position: absolute;
  top: -6%;
  left: 50%;
  transform: translate(-50%);
  z-index: 99;
}
@media screen and (max-width: 575px) {
  .bennar-section .custom-container .bennar-block .line::after {
    width: 10px;
    height: 10px;
  }
}
.bennar-section .custom-container .bennar-block .line::before {
  width: 13px;
  height: 13px;
  border-radius: 100%;
  background-color: var(--sky);
  content: "";
  position: absolute;
  top: -6%;
  left: 50%;
  transform: translate(-50%);
  z-index: 99;
}
@media screen and (max-width: 575px) {
  .bennar-section .custom-container .bennar-block .line::before {
    width: 10px;
    height: 10px;
  }
}
.bennar-section .custom-container .bennar-block .line-1::after {
  animation: doted-animation 10s linear infinite;
}
.bennar-section .custom-container .bennar-block .line-2::after {
  animation: doted-animation 10s linear infinite;
}
.bennar-section .custom-container .bennar-block .line-3::after {
  animation: doted-animation 10s linear infinite;
}
.bennar-section .custom-container .bennar-block .line-4::after {
  animation: doted-animation 10s linear infinite;
}
.bennar-section .custom-container .bennar-block .line-5::after {
  animation: doted-animation 10s linear infinite;
}
.bennar-section .custom-container .bennar-block .arrow-down {
  margin-top: -10px !important;
  margin: auto;
}
.bennar-section .custom-container .bennar-block .space-block {
  position: relative;
}
.bennar-section .custom-container .bennar-block .space-block::after {
  content: "";
  position: absolute;
  width: 86%;
  height: 2px;
  bottom: 3px;
  left: 50%;
  transform: translate(-50%);
  background-color: #fff;
}
@media screen and (max-width: 991px) {
  .bennar-section .custom-container .bennar-block .space-block::after {
    width: 83%;
  }
}
@media screen and (max-width: 767px) {
  .bennar-section .custom-container .bennar-block .space-block::after {
    width: 76%;
  }
}
.bennar-section .custom-container .bennar-block .btn-block {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  position: relative;
  margin-top: -5px;
}
.bennar-section .custom-container .bennar-block .btn-block::after {
  width: 13px;
  height: 13px;
  border-radius: 100%;
  background-color: var(--sky);
  content: "";
  position: absolute;
  top: -4%;
  right: 6%;
  animation: doted-animation-right 20s linear infinite;
  z-index: 99;
}
@media screen and (max-width: 991px) {
  .bennar-section .custom-container .bennar-block .btn-block::after {
    right: 8%;
  }
}
@media screen and (max-width: 767px) {
  .bennar-section .custom-container .bennar-block .btn-block::after {
    right: 11%;
  }
}
@media screen and (max-width: 575px) {
  .bennar-section .custom-container .bennar-block .btn-block::after {
    width: 10px;
    height: 10px;
  }
}
.bennar-section .custom-container .bennar-block .btn-block::before {
  width: 13px;
  height: 13px;
  border-radius: 100%;
  background-color: var(--sky);
  content: "";
  position: absolute;
  top: -4%;
  left: 6%;
  animation: doted-animation-left 20s linear infinite;
  z-index: 99;
}
@media screen and (max-width: 991px) {
  .bennar-section .custom-container .bennar-block .btn-block::before {
    left: 8%;
  }
}
@media screen and (max-width: 767px) {
  .bennar-section .custom-container .bennar-block .btn-block::before {
    left: 10%;
  }
}
@media screen and (max-width: 575px) {
  .bennar-section .custom-container .bennar-block .btn-block::before {
    width: 10px;
    height: 10px;
  }
}
@media screen and (max-width: 575px) {
  .bennar-section .custom-container .bennar-block .btn-block .button-primary {
    font-size: 10px;
    padding: 4px 10px;
  }
}
.bennar-section .custom-container .bennar-block .btn-block a {
  text-transform: uppercase;
}
.bennar-section .custom-container .img-block {
  position: relative;
}
.bennar-section .custom-container .img-block::after {
  content: "";
  box-shadow: rgba(214, 203, 203, 0.13) 0px 22px 255px 201px;
  position: absolute;
  top: 50%;
  left: 50%;
  width: 200px;
  height: 200px;
  transform: translate(-50%, -50%);
}

/*BENNAR SECTION CSS END HEAR*/
/*ABOUT SECTION CSS START HEAR*/
.about_section {
  padding: 100px 0px 50px;
}
.about_section .about_wrapper .about_block {
  padding: 80px 0px;
}
.about_section .about_wrapper .about_block .content_block {
  color: var(--white);
}
.about_section .about_wrapper .about_block .content_block h6 {
  font-size: 40px;
  font-family: "Ephesis", cursive !important;
  margin-bottom: 20px;
}
.about_section .about_wrapper .about_block .content_block h2 {
  font-size: 30px;
  font-weight: 500;
  margin-bottom: 30px;
}
.about_section .about_wrapper .about_block .content_block p {
  padding-bottom: 20px;
  margin-bottom: 0px;
}
.about_section .about_wrapper .about_block .content_block .button-primary {
  margin-top: 20px;
}
.about_section .about_wrapper .about_block .img-block img {
  width: 100%;
  height: 100%;
}

/*ABOUT SECTION CSS END HEAR*/
/*COMPANY INFORMATION SECTION CSS START */
.company-information {
  margin-bottom: 50px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url(../../assets/image/doted-img.png);
  min-height: 350px;
  position: relative;
  display: flex;
  align-items: center;
  box-shadow: rgba(92, 185, 242, 0.28) 0px 0px 27px, rgba(0, 0, 0, 0.6) 0px 6px 6px;
}
@media screen and (max-width: 767px) {
  .company-information {
    min-height: 210px;
  }
}
@media screen and (max-width: 575px) {
  .company-information {
    padding: 40px 0px;
  }
}
.company-information::after {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -webkit-backdrop-filter: blur(2px);
          backdrop-filter: blur(2px);
}
.company-information .company-information-wrapper {
  position: relative;
  z-index: 10;
  text-align: center;
  -webkit-backdrop-filter: blur(12px);
          backdrop-filter: blur(12px);
}
.company-information .company-information-wrapper .company-information-block {
  padding: 30px;
  border-radius: 0px 40px;
  border: 1px solid var(--primary);
  position: relative;
}
@media screen and (max-width: 767px) {
  .company-information .company-information-wrapper .company-information-block {
    padding: 10px;
  }
}
@media screen and (max-width: 575px) {
  .company-information .company-information-wrapper .company-information-block {
    border-radius: 5px;
    background-color: transparent;
  }
}
.company-information .company-information-wrapper .company-information-block::after {
  content: "";
  width: 13px;
  height: 13px;
  border-radius: 100%;
  background-color: var(--sky);
  position: absolute;
  top: -4%;
  left: 0%;
  transform: translate(-50%);
  z-index: 99;
}
.company-information .company-information-wrapper .company-information-block::before {
  content: "";
  width: 13px;
  height: 13px;
  border-radius: 100%;
  background-color: var(--sky);
  position: absolute;
  bottom: -4%;
  right: -1%;
  transform: translate(-50%);
  z-index: 99;
}
.company-information .company-information-wrapper .company-information-block .content-box {
  border-right: 2px solid var(--light-sky);
}
@media screen and (max-width: 575px) {
  .company-information .company-information-wrapper .company-information-block .content-box {
    border-right: 0px;
  }
}
.company-information .company-information-wrapper .company-information-block .content-box:last-child {
  border-right: 0px;
}
.company-information .company-information-wrapper .company-information-block .content-box h2 {
  font-size: 40px;
  font-weight: 600;
  color: var(--sky);
}
@media screen and (max-width: 991px) {
  .company-information .company-information-wrapper .company-information-block .content-box h2 {
    font-size: 30px;
  }
}
.company-information .company-information-wrapper .company-information-block .content-box h6 {
  font-size: 16px;
  text-transform: uppercase;
  font-weight: 600;
  color: var(--white);
}
@media screen and (max-width: 991px) {
  .company-information .company-information-wrapper .company-information-block .content-box h6 {
    font-size: 13px;
  }
}
@media screen and (max-width: 575px) {
  .company-information .company-information-wrapper .company-information-block .content-box h6 {
    color: #fff;
    font-size: 11px;
  }
}

/*COMPANY INFORMATION SECTION CSS END */
/*SKILLS SECTION CSS START HEAR*/
.skills_section {
  padding: 100px 0px 50px;
}
.skills_section .skills_wrapper .skills_block {
  padding: 80px 0px;
}
.skills_section .skills_wrapper .skills_block .skills_content {
  color: var(--white);
}
.skills_section .skills_wrapper .skills_block .skills_content h6 {
  font-size: 40px;
  font-family: "Ephesis", cursive !important;
  margin-bottom: 20px;
}
.skills_section .skills_wrapper .skills_block .skills_content h2 {
  font-size: 30px;
  font-weight: 500;
  margin-bottom: 30px;
}
.skills_section .skills_wrapper .skills_block .progress-block {
  margin-bottom: 15px;
}
.skills_section .skills_wrapper .skills_block .progress-block span {
  color: var(--bs-success-border-subtle);
  font-size: 16px;
  font-weight: 600;
}
.skills_section .skills_wrapper .skills_block .img-block img {
  width: 100%;
  height: 100%;
}
.skills_section .skills_wrapper .our-technology {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  position: relative;
}
.skills_section .skills_wrapper .our-technology .our-techno {
  display: inline-table;
  position: relative;
}
.skills_section .skills_wrapper .our-technology .our-techno .center-title {
  width: 100px;
  height: 100px;
  line-height: 100px;
  border-radius: 50%;
  background-color: var(--white);
  box-shadow: 0 0 10px var(--primary);
  border: 1px solid var(--primary);
  display: flex;
  text-align: center;
  justify-content: center;
  z-index: 1;
  position: relative;
  align-items: center;
}
.skills_section .skills_wrapper .our-technology .our-techno .center-title h4 {
  margin-bottom: 0px;
  font-size: 20px;
}
.skills_section .skills_wrapper .our-technology .our-techno .center-title::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  top: 0;
  border-radius: 50%;
  border: 1px solid var(--sky);
  animation: scale 2s linear infinite;
}
.skills_section .skills_wrapper .our-technology .our-techno .line-1 {
  position: absolute;
  left: -125px;
  top: 50%;
  text-align: center;
  display: inline-block;
  height: 1px;
  background-color: var(--white);
  width: 350px;
  transform-origin: right center;
  transform: translate(-50%) rotate(30deg);
}
.skills_section .skills_wrapper .our-technology .our-techno .line-1 .circle-1::after {
  content: "";
  position: absolute;
  top: -4px;
  left: 50px;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: var(--sky);
  animation: circle-animation 30s linear infinite;
}
.skills_section .skills_wrapper .our-technology .our-techno .line-1 .techno-img {
  transform: rotate(-30deg);
}
.skills_section .skills_wrapper .our-technology .our-techno .line-2 {
  position: absolute;
  left: -235px;
  top: 50%;
  text-align: center;
  display: inline-block;
  height: 1px;
  background-color: var(--white);
  width: 570px;
  transform-origin: right center;
  transform: translate(-50%) rotate(11deg);
}
.skills_section .skills_wrapper .our-technology .our-techno .line-2 .circle-2::after {
  content: "";
  position: absolute;
  top: -4px;
  left: 50px;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: var(--sky);
  animation: circle-animation 30s linear infinite;
}
.skills_section .skills_wrapper .our-technology .our-techno .line-2 .techno-img {
  transform: rotate(-10deg);
}
.skills_section .skills_wrapper .our-technology .our-techno .line-3 {
  position: absolute;
  left: -175px;
  top: 50%;
  text-align: center;
  display: inline-block;
  height: 1px;
  background-color: var(--white);
  width: 450px;
  transform-origin: right center;
  transform: translate(-50%) rotate(-5deg);
}
.skills_section .skills_wrapper .our-technology .our-techno .line-3 .circle-3::after {
  content: "";
  position: absolute;
  top: -4px;
  left: 50px;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: var(--sky);
  animation: circle-animation 30s linear infinite;
}
.skills_section .skills_wrapper .our-technology .our-techno .line-3 .techno-img {
  transform: rotate(5deg);
}
.skills_section .skills_wrapper .our-technology .our-techno .line-4 {
  position: absolute;
  left: -75px;
  top: 50%;
  text-align: center;
  display: inline-block;
  height: 1px;
  background-color: var(--white);
  width: 250px;
  transform-origin: right center;
  transform: translate(-50%) rotate(-28deg);
}
.skills_section .skills_wrapper .our-technology .our-techno .line-4 .circle-4::after {
  content: "";
  position: absolute;
  top: -4px;
  left: 50px;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: var(--sky);
  animation: circle-animation 30s linear infinite;
}
.skills_section .skills_wrapper .our-technology .our-techno .line-4 .techno-img {
  transform: rotate(28deg);
}
.skills_section .skills_wrapper .our-technology .our-techno .line-5 {
  position: absolute;
  left: -30px;
  top: 50%;
  text-align: center;
  display: inline-block;
  height: 1px;
  background-color: var(--white);
  width: 160px;
  transform-origin: right center;
  transform: translate(-50%) rotate(90deg);
}
.skills_section .skills_wrapper .our-technology .our-techno .line-5 .circle-5::after {
  content: "";
  position: absolute;
  top: -4px;
  left: 50px;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: var(--sky);
  animation: circle-animation 30s linear infinite;
}
.skills_section .skills_wrapper .our-technology .our-techno .line-5 .techno-img {
  transform: rotate(-90deg);
}
.skills_section .skills_wrapper .our-technology .our-techno .line-6 {
  position: absolute;
  right: -125px;
  top: 50%;
  text-align: center;
  display: inline-block;
  height: 1px;
  background-color: var(--white);
  width: 350px;
  transform-origin: right center;
  transform: translate(-50%) rotate(150deg);
}
.skills_section .skills_wrapper .our-technology .our-techno .line-6 .circle-6::after {
  content: "";
  position: absolute;
  top: -4px;
  left: 50px;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: var(--sky);
  animation: circle-animation 30s linear infinite;
}
.skills_section .skills_wrapper .our-technology .our-techno .line-6 .techno-img {
  transform: rotate(-150deg);
}
.skills_section .skills_wrapper .our-technology .our-techno .line-7 {
  position: absolute;
  right: -235px;
  top: 50%;
  text-align: center;
  display: inline-block;
  height: 1px;
  background-color: var(--white);
  width: 570px;
  transform-origin: right center;
  transform: translate(-50%) rotate(165deg);
}
.skills_section .skills_wrapper .our-technology .our-techno .line-7 .circle-7::after {
  content: "";
  position: absolute;
  top: -4px;
  left: 50px;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: var(--sky);
  animation: circle-animation 30s linear infinite;
}
.skills_section .skills_wrapper .our-technology .our-techno .line-7 .techno-img {
  transform: rotate(-165deg);
}
.skills_section .skills_wrapper .our-technology .our-techno .line-8 {
  position: absolute;
  right: -100px;
  top: 50%;
  text-align: center;
  display: inline-block;
  height: 1px;
  background-color: var(--white);
  width: 300px;
  transform-origin: right center;
  transform: translate(-50%) rotate(185deg);
}
.skills_section .skills_wrapper .our-technology .our-techno .line-8 .circle-8::after {
  content: "";
  position: absolute;
  top: -4px;
  left: 50px;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: var(--sky);
  animation: circle-animation 30s linear infinite;
}
.skills_section .skills_wrapper .our-technology .our-techno .line-8 .techno-img {
  transform: rotate(-185deg);
}
.skills_section .skills_wrapper .our-technology .our-techno .line-9 {
  position: absolute;
  right: -45px;
  top: 50%;
  text-align: center;
  display: inline-block;
  height: 1px;
  background-color: var(--white);
  width: 190px;
  transform-origin: right center;
  transform: translate(-50%) rotate(215deg);
}
.skills_section .skills_wrapper .our-technology .our-techno .line-9 .circle-9::after {
  content: "";
  position: absolute;
  top: -4px;
  left: 50px;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: var(--sky);
  animation: circle-animation 30s linear infinite;
}
.skills_section .skills_wrapper .our-technology .our-techno .line-9 .techno-img {
  transform: rotate(-215deg);
}
.skills_section .skills_wrapper .our-technology .our-techno .line-10 {
  position: absolute;
  left: -50px;
  top: 50%;
  text-align: center;
  display: inline-block;
  height: 1px;
  background-color: var(--white);
  width: 200px;
  transform-origin: right center;
  transform: translate(-50%) rotate(270deg);
}
.skills_section .skills_wrapper .our-technology .our-techno .line-10 .circle-10::after {
  content: "";
  position: absolute;
  top: -4px;
  left: 50px;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: var(--sky);
  animation: circle-animation 30s linear infinite;
}
.skills_section .skills_wrapper .our-technology .our-techno .line-10 .techno-img {
  transform: rotate(90deg);
}
.skills_section .skills_wrapper .our-technology {
  padding: 250px 0px;
}
.skills_section .skills_wrapper .our-technology .our-techno .techno-img {
  position: absolute;
  left: -30px;
  top: -48px;
  height: 100px;
  width: 100px;
  line-height: unset;
  background-color: var(--black);
  border-radius: 50%;
  box-shadow: 0 0 10px var(--white);
  padding: 10px;
  cursor: pointer;
}
.skills_section .skills_wrapper .our-technology .our-techno .techno-img img {
  transition: all 0.5s;
  transform: scale(1);
}
.skills_section .skills_wrapper .our-technology .our-techno .techno-img:hover img {
  transform: scale(1.1);
}

/*SKILLS SECTION CSS END HEAR*/
/*SERVICES SECTION CSS START HEAR*/
.services-section {
  padding: 100px 0px 50px;
}
.services-section .services-wrapper .services-content {
  padding: 100px 100px 50px;
}
.services-section .services-wrapper .services-content .card-wrapper .card-block {
  -webkit-backdrop-filter: blur(10px);
          backdrop-filter: blur(10px);
  box-shadow: rgba(92, 185, 242, 0.66) 0px 0px 10px, rgba(0, 0, 0, 0.6) 0px 6px 6px;
  border-radius: 10px;
  display: flex;
  overflow: hidden;
  flex-direction: row;
  min-height: 300px;
  position: relative;
}
.services-section .services-wrapper .services-content .card-wrapper .card-block::before {
  content: "";
  position: absolute;
  bottom: -70px;
  right: -70px;
  height: 200px;
  width: 200px;
  background-color: #132b44;
  border-radius: 100%;
}
.services-section .services-wrapper .services-content .card-wrapper .card-block::after {
  content: "";
  position: absolute;
  position: absolute;
  bottom: 40px;
  right: 40px;
  height: 120px;
  width: 120px;
  background-color: rgba(83, 178, 235, 0.27);
  border-radius: 100%;
}
.services-section .services-wrapper .services-content .card-wrapper .card-block .img-block {
  width: 100% !important;
}
.services-section .services-wrapper .services-content .card-wrapper .card-block .img-block img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: right;
     object-position: right;
}
.services-section .services-wrapper .services-content .card-wrapper .card-block .card-content {
  padding: 30px 40px;
  position: relative;
  z-index: 15;
}
.services-section .services-wrapper .services-content .card-wrapper .card-block .card-content h4 {
  font-size: 29px;
  color: #fff;
  font-weight: 500;
  margin-bottom: 20px;
}
.services-section .services-wrapper .services-content .card-wrapper .card-block .card-content h5 {
  font-size: 19px;
  font-weight: 400;
  color: #fff;
  margin-bottom: 20px;
  font-family: "Montserrat", sans-serif !important;
}
.services-section .services-wrapper .services-content .card-wrapper .card-block .card-content h5 span {
  color: var(--sky);
  margin-left: 5px;
  font-weight: 500;
}
.services-section .services-wrapper .services-content .card-wrapper .card-block .card-content p {
  margin-bottom: 20px;
}

/*SERVICES SECTION CSS END HEAR*/
/*CONTACT SECTION CSS START HEAR*/
.contact-section {
  padding: 100px 0px 50px;
}
.contact-section .contact-block {
  padding: 40px 30px;
  border-radius: 10px;
  box-shadow: rgba(92, 185, 242, 0.28) 0px 0px 27px, rgba(0, 0, 0, 0.6) 0px 6px 6px;
}
.contact-section .contact-block .contact-left {
  background-color: #03071C;
  border-radius: 10px;
  min-height: 600px;
  padding: 40px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: relative;
  overflow: hidden;
}
.contact-section .contact-block .contact-left::before {
  content: "";
  position: absolute;
  bottom: -140px;
  right: -119px;
  height: 300px;
  width: 300px;
  background-color: #132b44;
  border-radius: 100%;
}
.contact-section .contact-block .contact-left::after {
  content: "";
  position: absolute;
  bottom: 50px;
  right: 50px;
  height: 150px;
  width: 150px;
  background-color: rgba(83, 178, 235, 0.27);
  border-radius: 100%;
}
.contact-section .contact-block .contact-left h2 {
  font-weight: 600;
  font-size: 35px;
  margin-bottom: 0px;
  background: linear-gradient(to bottom right, var(--primary) 47%, var(--sky) 70%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.contact-section .contact-block .contact-left .links-block {
  position: relative;
  z-index: 10;
}
.contact-section .contact-block .contact-left .links-block a {
  color: #fff;
  font-weight: 400;
  font-size: 16px;
  line-height: 28px;
}
.contact-section .contact-block .contact-left .links-block i {
  color: #fff;
  padding-top: 14px;
}
.contact-section .contact-block .contact-left .icon-block {
  display: flex;
  align-items: center;
  position: relative;
  z-index: 10;
}
.contact-section .contact-block .contact-left .icon-block a {
  width: 35px;
  height: 35px;
  border-radius: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--sky);
  transition: all 0.5s;
}
.contact-section .contact-block .contact-left .icon-block a i {
  color: #fff;
  transition: all 0.5s;
}
.contact-section .contact-block .contact-left .icon-block a:hover {
  background-color: var(--white);
}
.contact-section .contact-block .contact-left .icon-block a:hover i {
  color: var(--black);
}

/*CONTACT SECTION CSS END HEAR*/
/*KEY FRAMES CSS START HEAR*/
@keyframes doted-animation {
  0% {
    top: -6%;
  }
  50% {
    top: 85%;
  }
  100% {
    top: -6%;
  }
}
@media screen and (min-width: 991px) {
  @keyframes doted-animation-left {
    0% {
      left: 6%;
    }
    50% {
      left: 92%;
    }
    100% {
      left: 6%;
    }
  }
  @keyframes doted-animation-right {
    0% {
      right: 6%;
    }
    50% {
      right: 92%;
    }
    100% {
      right: 6%;
    }
  }
}
@media screen and (min-width: 767px) {
  @keyframes doted-animation-left {
    0% {
      left: 8%;
    }
    50% {
      left: 90%;
    }
    100% {
      left: 8%;
    }
  }
  @keyframes doted-animation-right {
    0% {
      right: 8%;
    }
    50% {
      right: 90%;
    }
    100% {
      right: 8%;
    }
  }
}
@media screen and (min-width: 575px) {
  @keyframes doted-animation-left {
    0% {
      left: 10%;
    }
    50% {
      left: 86%;
    }
    100% {
      left: 10%;
    }
  }
  @keyframes doted-animation-right {
    0% {
      right: 11%;
    }
    50% {
      right: 87%;
    }
    100% {
      right: 11%;
    }
  }
}
@keyframes doted-animation-left {
  0% {
    left: 10%;
  }
  50% {
    left: 86%;
  }
  100% {
    left: 10%;
  }
}
@keyframes doted-animation-right {
  0% {
    right: 11%;
  }
  50% {
    right: 87%;
  }
  100% {
    right: 11%;
  }
}
@keyframes scale {
  from {
    opacity: 1;
    transform: scale3d(1, 1, 1);
  }
  to {
    opacity: 0;
    transform: scale3d(1.5, 1.5, 1);
  }
}
@keyframes circle-animation {
  0% {
    left: 100%;
  }
  50% {
    left: 0;
  }
  100% {
    left: 100%;
  }
}
/*KEY FRAMES CSS END HEAR*//*# sourceMappingURL=overview.component.css.map */