<section class="overview-section">
    <div class="container">
        <div>
            <h1>HARDIK</h1>
            <h2>I'm a passionate <span>Web Designer</span> from Surat</h2>
            <nav class="navbar">
                <ul class="gap-4">
                    <li *ngFor="let item of navigationItems">
                        <a class="nav-link" [ngClass]="{'active':(item.label===navigationManageService.selectedMyTab)}" (click)="navigationManageService.selectedTabChanged(item.label)">{{ item.label }}</a>
                    </li>
                </ul>
                <i class="bi bi-list mobile-nav-toggle"></i>
            </nav>
            <div class="social-links gap-3">
                <a *ngFor="let link of socialLinks" [href]="link.url" >
                    <i class="fab {{ link.icon }}"></i>
                </a>
            </div>
        </div>
    </div>
</section>

