<!-- ABOUT SECTION START HEAR -->
<section class="about_section" id="about">
    <div class="container-xl" #aboutSection>
        <div class="about_wrapper">
            <div class="title" data-aos="fade-up" data-aos-easing="linear">
                <h4>{{translateService.content.aboutMe}}</h4>
                <h2>{{translateService.content.learnMoreAboutMe}}</h2>
            </div>
            <div class="row about_block align-items-center">
                <div class="col-lg-6">
                    <div class="img-block" data-aos="fade-right">
                        <img [src]="aboutMeImage" [alt]="altText" class="center-img" loading="lazy">
                        <img [src]="dotImage" [alt]="altText" class="doted-img" loading="lazy">
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="content_block" data-aos="fade-left">
                        <h6>{{translateService.content.im}} a {{translateService.content.designer}}</h6>
                        <h2>{{translateService.content.aboutSmallTitle}}</h2>
                        <p>{{translateService.content.aboutMeDescription}}</p>
                        <p>{{translateService.content.aboutMeDescription2}}</p>
                        <a routerLink="/contact" (click)="serviceService.scrollTo('contact')" class="button-primary">{{translateService.content.hireMe}}</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <app-information></app-information>
</section>
<!-- ABOUT SECTION END HEAR -->