<!-- ABOUT SECTION START HEAR -->
<section class="about_section" id="about">
    <div class="container" #aboutSection>
        <div class="about_wrapper">
            <div class="title" data-aos="fade-up" data-aos-easing="linear">
                <h4>ABOUT ME</h4>
                <h2>LEARN MORE ABOUT ME</h2>
            </div>
            <div class="row about_block align-items-center">
                <div class="col-md-6">
                    <div class="img-block" data-aos="fade-right">
                        <img src="../../assets/image/about-me.svg" alt="">
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="content_block" data-aos="fade-left">
                        <h6>I'm a Designer</h6>
                        <h2>I Can Design Anything You Want</h2>
                        <p>Experienced Web Designer With A Demonstrated History Of Working In The Information Technology
                            And Services Industry.
                            I Have Also Experience In Graphics Design Like Poster Design, Banner Design, Book Cover
                            Page, Logo Design, Flyer Design, Business Visiting Card, Etc..

                        </p>
                        <p>
                            I Am Working As A Freelance Web Design And Graphics Design, I Can Provide You With Efficient
                            And Unique Web Design And Graphics Work For Your Unique Brand Keeping SEO In Mind.
                            I Can Provide User Friendly Website Design Looking Simple, Uniq Ness And Attractive Design,
                            User Can Easily Used And Understanding.
                        </p>
                        <!-- <a href="#!" class="button-primary" (click)="myfun()">Hire me</a> -->
                        <a href="#!" class="button-primary">Hire me</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- ABOUT SECTION END HEAR -->
