<app-header *ngIf="navigationManageService.selectedMyTab !== 'Home'"></app-header>
<app-overview *ngIf="navigationManageService.selectedMyTab === 'Home'"></app-overview>
<app-about *ngIf="navigationManageService.selectedMyTab === 'About'"></app-about>
<app-resume *ngIf="navigationManageService.selectedMyTab === 'Resume'"></app-resume>
<app-services *ngIf="navigationManageService.selectedMyTab === 'Services'"></app-services>
<app-contact *ngIf="navigationManageService.selectedMyTab === 'Contact'"></app-contact>