<app-header *ngIf="navigationManageService.selectedMyTab !== 'Home'"></app-header>
<app-overview *ngIf="navigationManageService.selectedMyTab === 'Home'"></app-overview>
<app-about *ngIf="navigationManageService.selectedMyTab === 'About'"></app-about>
<app-skills *ngIf="navigationManageService.selectedMyTab === 'Skills'"></app-skills>
<app-services *ngIf="navigationManageService.selectedMyTab === 'Services'"></app-services>
<app-contact *ngIf="navigationManageService.selectedMyTab === 'Contact'"></app-contact>