<div class="resume-model">
  <div  mat-dialog-title class="modal-header">
    <h3 class="fs-5 mb-0" id="resumeModalLabel">MY RESUME</h3>
    <button class="close-icon" mat-button matDialogClose><i class="fa fa-xmark"></i></button>
  </div>
  <mat-dialog-content class="mat-typography">
    <div class="modal-body row align-items-end">
      <div class="col-6">
        <img src="../../../assets/image/profile-data.svg" alt="resume">
      </div>
      <div class="col-6">

        <img src="https://cdn-blog.novoresume.com/articles/resume-examples/resume-example.webp" alt="resume">
      </div>
    </div>
  </mat-dialog-content>
  <mat-dialog-actions class="modal-footer gap-3 d-flex justify-content-end">
    <button class="button-primary-outline" mat-button mat-dialog-close>Close</button>
    <a href="https://cdn-blog.novoresume.com/articles/resume-examples/resume-example.webp"  mat-button [mat-dialog-close]="true" cdkFocusInitial download="" class="button-primary">Download</a>
  </mat-dialog-actions>
</div>
