<!-- SKILLS SECTION START HEAR -->
<section class="skills_section overflow-hidden" id="skills">
    <div #skillsSection>
        <div class="skills_wrapper">
            <div class="container">
                <div class="title" data-aos="fade-down" data-aos-anchor-placement="top-bottom" data-aos-easing="linear">
                    <h4>SKILLS</h4>
                    <h2>LEARN MORE ABOUT MY SKILLS</h2>
                </div>
                <div class="row skills_block">
                    <div class="col-lg-6 mb-3 mb-lg-0" id="counter">
                        <div class="skills_content" data-aos="fade-right">
                            <h6>Design is Life</h6>
                            <h2>I Develop Skills Regularly to Keep Me Update</h2>
                            <p>Most Common Methods For Designing Websites That Work Well On Desktop Is Responsive And
                                Adaptive Design</p>
                            <div class="progress-block">
                                <div class="d-flex justify-content-between align-items-center mb-1">
                                    <span>HTML</span>
                                    <span>{{percentage}}%</span>
                                </div>
                                <mat-progress-bar mode="determinate" value="{{percentage}}"></mat-progress-bar>
                            </div>
                            <div class="progress-block">
                                <div class="d-flex justify-content-between align-items-center mb-1">
                                    <span>CSS</span>
                                    <span>{{percentage2}}%</span>
                                </div>
                                <mat-progress-bar mode="determinate" value="{{percentage2}}"></mat-progress-bar>
                            </div>
                            <div class="progress-block">
                                <div class="d-flex justify-content-between align-items-center mb-1">
                                    <span>SCSS</span>
                                    <span>{{percentage3}}%</span>
                                </div>
                                <mat-progress-bar mode="determinate" value="{{percentage3}}"></mat-progress-bar>
                            </div>
                            <div class="progress-block">
                                <div class="d-flex justify-content-between align-items-center mb-1">
                                    <span>Tailwind CSS</span>
                                    <span>{{percentage4}}%</span>
                                </div>
                                <mat-progress-bar mode="determinate" value="{{percentage4}}"></mat-progress-bar>
                            </div>
                            <div class="progress-block">
                                <div class="d-flex justify-content-between align-items-center mb-1">
                                    <span>Bootstrap</span>
                                    <span>{{percentage5}}%</span>
                                </div>
                                <mat-progress-bar mode="determinate" value="{{percentage5}}"></mat-progress-bar>
                            </div>
                            <div class="progress-block">
                                <div class="d-flex justify-content-between align-items-center mb-1">
                                    <span>jquery</span>
                                    <span>{{percentage6}}%</span>
                                </div>
                                <mat-progress-bar mode="determinate" value="{{percentage6}}"></mat-progress-bar>
                            </div>
                            <div class="progress-block">
                                <div class="d-flex justify-content-between align-items-center mb-1">
                                    <span>Javascript</span>
                                    <span>{{percentage7}}%</span>
                                </div>
                                <mat-progress-bar mode="determinate" value="{{percentage7}}"></mat-progress-bar>
                            </div>
                            <div class="progress-block">
                                <div class="d-flex justify-content-between align-items-center mb-1">
                                    <span>Angular</span>
                                    <span>{{percentage8}}%</span>
                                </div>
                                <mat-progress-bar mode="determinate" value="{{percentage8}}"></mat-progress-bar>
                            </div>
                            <div class="progress-block">
                                <div class="d-flex justify-content-between align-items-center mb-1">
                                    <span>Hubspot</span>
                                    <span>{{percentage9}}%</span>
                                </div>
                                <mat-progress-bar mode="determinate" value="{{percentage9}}"></mat-progress-bar>
                            </div>
                            <div class="progress-block">
                                <div class="d-flex justify-content-between align-items-center mb-1">
                                    <span>laravel</span>
                                    <span>{{percentage10}}%</span>
                                </div>
                                <mat-progress-bar mode="determinate" value="{{percentage10}}"></mat-progress-bar>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="img-block" data-aos="fade-left">
                            <img src="../../assets/image/skills.svg" alt="">
                        </div>
                    </div>
                </div>
            </div>
            <div class="our-technology" data-aos="fade-up">
                <div class="container">
                    <div class="our-techno">
                        <div class="center-title">
                            <h4>SKILLS</h4>
                        </div>

                        <div class="animation-line line-1">
                            <div class="animation-circle circle-1"></div>
                            <a href="https://angular.io/" class="techno-img">
                                <img draggable="false" class="img-fluid" src="../../assets/image/Techno/angular.png"
                                    alt="Angular" loading="lazy" />
                            </a>
                        </div>
                        <div class="animation-line line-2">
                            <div class="animation-circle circle-2"></div>
                            <a href="https://jquery.com/" class="techno-img">
                                <img draggable="false" class="img-fluid" src="../../assets/image/Techno/jquery.png"
                                    alt="Angular" loading="lazy" />
                            </a>
                        </div>
                        <div class="animation-line line-3">
                            <div class="animation-circle circle-3"></div>
                            <a href="https://sass-lang.com/" class="techno-img">
                                <img draggable="false" class="img-fluid" src="../../assets/image/Techno/sass.webp"
                                    alt="SCSS" loading="lazy" />
                            </a>
                        </div>
                        <div class="animation-line line-4">
                            <div class="animation-circle circle-4"></div>
                            <a href="https://www.javascript.com/" class="techno-img">
                                <img draggable="false" class="img-fluid rounded-circle"
                                    src="../../assets/image/Techno/javascript.png" alt="JavaScript" loading="lazy" />
                            </a>
                        </div>
                        <div class="animation-line line-5">
                            <div class="animation-circle circle-5"></div>
                            <a href="https://www.w3schools.com/html/" class="techno-img">
                                <img draggable="false" class="img-fluid" src="../../assets/image/Techno/html-5.png"
                                    alt="HTML" loading="lazy" />

                            </a>
                        </div>
                        <div class="animation-line line-6">
                            <div class="animation-circle circle-6"></div>
                            <a href="https://www.typescriptlang.org/" class="techno-img">
                                <img draggable="false" class="img-fluid" src="../../assets/image/Techno/typescript.png"
                                    alt="TypeScript" loading="lazy" />
                            </a>
                        </div>
                        <div class="animation-line line-7">
                            <div class="animation-circle circle-7"></div>
                            <a href="https://www.hubspot.com/" class="techno-img">
                                <img draggable="false" class="img-fluid" src="../../assets/image/Techno/Hubspot.png"
                                    alt="Hubspot" loading="lazy" />
                            </a>
                        </div>
                        <div class="animation-line line-8">
                            <div class="animation-circle circle-8"></div>
                            <a href="https://getbootstrap.com/" class="techno-img">
                                <img draggable="false" class="img-fluid rounded-circle"
                                    src="../../assets/image/Techno/bootstrap.png" alt="bootstrap" loading="lazy" />
                            </a>
                        </div>
                        <div class="animation-line line-9">
                            <div class="animation-circle circle-9"></div>
                            <a href="https://tailwindcss.com/" class="techno-img">
                                <img draggable="false" class="img-fluid" src="../../assets/image/Techno/tailwind.png"
                                    alt="tailwind" loading="lazy" />
                            </a>
                        </div>
                        <div class="animation-line line-10">
                            <div class="animation-circle circle-10"></div>
                            <a href="https://www.w3schools.com/css/" class="techno-img">
                                <img draggable="false" class="img-fluid" src="../../assets/image/Techno/css-3.png"
                                    alt="CSS" loading="lazy" />
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- SKILLS SECTION END HEAR -->