/*SKILLS SECTION CSS START HEAR*/
.skills_section {
  padding: 100px 0px 50px;
  position: relative;
  z-index: 10;
}
@media screen and (max-width: 1240px) {
  .skills_section {
    padding: 60px 0px 30px;
  }
}
@media screen and (max-width: 991px) {
  .skills_section {
    padding: 60px 0px 0px;
  }
}
.skills_section .skills_wrapper .skills_block {
  padding: 80px 0px;
}
@media screen and (max-width: 991px) {
  .skills_section .skills_wrapper .skills_block {
    padding: 60px 0px 40px;
  }
}
@media screen and (max-width: 767px) {
  .skills_section .skills_wrapper .skills_block {
    padding: 40px 0px 40px;
  }
}
.skills_section .skills_wrapper .skills_block .skills_content {
  color: var(--white);
}
.skills_section .skills_wrapper .skills_block .skills_content h6 {
  font-size: 40px;
  font-family: "Ephesis", cursive !important;
  margin-bottom: 20px;
}
@media screen and (max-width: 575px) {
  .skills_section .skills_wrapper .skills_block .skills_content h6 {
    font-size: 30px;
    margin-bottom: 10px;
  }
}
.skills_section .skills_wrapper .skills_block .skills_content h2 {
  font-size: 30px;
  font-weight: 500;
  margin-bottom: 30px;
}
@media screen and (max-width: 991px) {
  .skills_section .skills_wrapper .skills_block .skills_content h2 {
    font-size: 26px;
  }
}
@media screen and (max-width: 767px) {
  .skills_section .skills_wrapper .skills_block .skills_content h2 {
    font-size: 22px;
    margin-bottom: 20px;
  }
}
@media screen and (max-width: 575px) {
  .skills_section .skills_wrapper .skills_block .skills_content h2 {
    font-size: 20px;
    margin-bottom: 10px;
  }
}
.skills_section .skills_wrapper .skills_block .progress-block {
  margin-bottom: 15px;
}
.skills_section .skills_wrapper .skills_block .progress-block span {
  color: var(--bs-success-border-subtle);
  font-size: 16px;
  font-weight: 600;
}
@media screen and (max-width: 575px) {
  .skills_section .skills_wrapper .skills_block .progress-block span {
    font-size: 14px;
  }
}
.skills_section .skills_wrapper .skills_block .img-block img {
  width: 100%;
  height: 100%;
}
.skills_section .skills_wrapper .our-technology {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  position: relative;
}
.skills_section .skills_wrapper .our-technology .our-techno {
  display: inline-table;
  position: relative;
}
.skills_section .skills_wrapper .our-technology .our-techno .center-title {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background-color: var(--black);
  box-shadow: 0 0 10px var(--primary);
  display: flex;
  text-align: center;
  justify-content: center;
  z-index: 1;
  position: relative;
  align-items: center;
  padding: 10px;
}
.skills_section .skills_wrapper .our-technology .our-techno .center-title img {
  -o-object-fit: contain;
     object-fit: contain;
  width: 100%;
  height: 100%;
  margin-bottom: 5px;
}
.skills_section .skills_wrapper .our-technology .our-techno .center-title::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  top: 0;
  border-radius: 50%;
  border: 1px solid var(--sky);
  animation: scale 2s linear infinite;
}
.skills_section .skills_wrapper .our-technology .our-techno .line-1 {
  position: absolute;
  left: -125px;
  top: 50%;
  text-align: center;
  display: inline-block;
  height: 1px;
  background-color: var(--white);
  width: 350px;
  transform-origin: right center;
  transform: translate(-50%) rotate(30deg);
}
.skills_section .skills_wrapper .our-technology .our-techno .line-1 .circle-1::after {
  content: "";
  position: absolute;
  top: -4px;
  left: 50px;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: var(--sky);
  animation: circle-animation 30s linear infinite;
}
.skills_section .skills_wrapper .our-technology .our-techno .line-1 .techno-img {
  transform: rotate(-30deg);
}
.skills_section .skills_wrapper .our-technology .our-techno .line-2 {
  position: absolute;
  left: -235px;
  top: 50%;
  text-align: center;
  display: inline-block;
  height: 1px;
  background-color: var(--white);
  width: 570px;
  transform-origin: right center;
  transform: translate(-50%) rotate(11deg);
}
.skills_section .skills_wrapper .our-technology .our-techno .line-2 .circle-2::after {
  content: "";
  position: absolute;
  top: -4px;
  left: 50px;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: var(--sky);
  animation: circle-animation 30s linear infinite;
}
.skills_section .skills_wrapper .our-technology .our-techno .line-2 .techno-img {
  transform: rotate(-10deg);
}
.skills_section .skills_wrapper .our-technology .our-techno .line-3 {
  position: absolute;
  left: -175px;
  top: 50%;
  text-align: center;
  display: inline-block;
  height: 1px;
  background-color: var(--white);
  width: 450px;
  transform-origin: right center;
  transform: translate(-50%) rotate(-5deg);
}
.skills_section .skills_wrapper .our-technology .our-techno .line-3 .circle-3::after {
  content: "";
  position: absolute;
  top: -4px;
  left: 50px;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: var(--sky);
  animation: circle-animation 30s linear infinite;
}
.skills_section .skills_wrapper .our-technology .our-techno .line-3 .techno-img {
  transform: rotate(5deg);
}
.skills_section .skills_wrapper .our-technology .our-techno .line-4 {
  position: absolute;
  left: -75px;
  top: 50%;
  text-align: center;
  display: inline-block;
  height: 1px;
  background-color: var(--white);
  width: 250px;
  transform-origin: right center;
  transform: translate(-50%) rotate(-28deg);
}
.skills_section .skills_wrapper .our-technology .our-techno .line-4 .circle-4::after {
  content: "";
  position: absolute;
  top: -4px;
  left: 50px;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: var(--sky);
  animation: circle-animation 30s linear infinite;
}
.skills_section .skills_wrapper .our-technology .our-techno .line-4 .techno-img {
  transform: rotate(28deg);
}
.skills_section .skills_wrapper .our-technology .our-techno .line-5 {
  position: absolute;
  left: -30px;
  top: 50%;
  text-align: center;
  display: inline-block;
  height: 1px;
  background-color: var(--white);
  width: 160px;
  transform-origin: right center;
  transform: translate(-50%) rotate(90deg);
}
.skills_section .skills_wrapper .our-technology .our-techno .line-5 .circle-5::after {
  content: "";
  position: absolute;
  top: -4px;
  left: 50px;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: var(--sky);
  animation: circle-animation 30s linear infinite;
}
.skills_section .skills_wrapper .our-technology .our-techno .line-5 .techno-img {
  transform: rotate(-90deg);
}
.skills_section .skills_wrapper .our-technology .our-techno .line-6 {
  position: absolute;
  right: -125px;
  top: 50%;
  text-align: center;
  display: inline-block;
  height: 1px;
  background-color: var(--white);
  width: 350px;
  transform-origin: right center;
  transform: translate(-50%) rotate(150deg);
}
.skills_section .skills_wrapper .our-technology .our-techno .line-6 .circle-6::after {
  content: "";
  position: absolute;
  top: -4px;
  left: 50px;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: var(--sky);
  animation: circle-animation 30s linear infinite;
}
.skills_section .skills_wrapper .our-technology .our-techno .line-6 .techno-img {
  transform: rotate(-150deg);
}
.skills_section .skills_wrapper .our-technology .our-techno .line-7 {
  position: absolute;
  right: -235px;
  top: 50%;
  text-align: center;
  display: inline-block;
  height: 1px;
  background-color: var(--white);
  width: 570px;
  transform-origin: right center;
  transform: translate(-50%) rotate(165deg);
}
.skills_section .skills_wrapper .our-technology .our-techno .line-7 .circle-7::after {
  content: "";
  position: absolute;
  top: -4px;
  left: 50px;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: var(--sky);
  animation: circle-animation 30s linear infinite;
}
.skills_section .skills_wrapper .our-technology .our-techno .line-7 .techno-img {
  transform: rotate(-165deg);
}
.skills_section .skills_wrapper .our-technology .our-techno .line-8 {
  position: absolute;
  right: -100px;
  top: 50%;
  text-align: center;
  display: inline-block;
  height: 1px;
  background-color: var(--white);
  width: 300px;
  transform-origin: right center;
  transform: translate(-50%) rotate(185deg);
}
.skills_section .skills_wrapper .our-technology .our-techno .line-8 .circle-8::after {
  content: "";
  position: absolute;
  top: -4px;
  left: 50px;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: var(--sky);
  animation: circle-animation 30s linear infinite;
}
.skills_section .skills_wrapper .our-technology .our-techno .line-8 .techno-img {
  transform: rotate(-185deg);
}
.skills_section .skills_wrapper .our-technology .our-techno .line-9 {
  position: absolute;
  right: -45px;
  top: 50%;
  text-align: center;
  display: inline-block;
  height: 1px;
  background-color: var(--white);
  width: 190px;
  transform-origin: right center;
  transform: translate(-50%) rotate(215deg);
}
.skills_section .skills_wrapper .our-technology .our-techno .line-9 .circle-9::after {
  content: "";
  position: absolute;
  top: -4px;
  left: 50px;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: var(--sky);
  animation: circle-animation 30s linear infinite;
}
.skills_section .skills_wrapper .our-technology .our-techno .line-9 .techno-img {
  transform: rotate(-215deg);
}
.skills_section .skills_wrapper .our-technology .our-techno .line-10 {
  position: absolute;
  left: -50px;
  top: 50%;
  text-align: center;
  display: inline-block;
  height: 1px;
  background-color: var(--white);
  width: 200px;
  transform-origin: right center;
  transform: translate(-50%) rotate(270deg);
}
.skills_section .skills_wrapper .our-technology .our-techno .line-10 .circle-10::after {
  content: "";
  position: absolute;
  top: -4px;
  left: 50px;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: var(--sky);
  animation: circle-animation 30s linear infinite;
}
.skills_section .skills_wrapper .our-technology .our-techno .line-10 .techno-img {
  transform: rotate(90deg);
}
.skills_section .skills_wrapper .our-technology {
  padding: 300px 0px;
  background: url(../../../assets/image/line-right.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
  box-shadow: rgb(8, 25, 43) 31px -5px 62px 0px;
}
.skills_section .skills_wrapper .our-technology::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0px;
  background-color: rgba(0, 0, 0, 0.49);
}
.skills_section .skills_wrapper .our-technology .our-techno {
  position: relative;
  z-index: 99;
}
.skills_section .skills_wrapper .our-technology .our-techno .techno-img {
  position: absolute;
  left: -30px;
  top: -48px;
  height: 100px;
  width: 100px;
  line-height: unset;
  background-color: var(--black);
  border-radius: 50%;
  box-shadow: 0 0 10px var(--white);
  padding: 10px;
  cursor: pointer;
}
.skills_section .skills_wrapper .our-technology .our-techno .techno-img img {
  transition: all 0.5s;
  transform: scale(1);
}
.skills_section .skills_wrapper .our-technology .our-techno .techno-img:hover img {
  transform: scale(1.1);
}
@media (min-width: 991px) and (max-width: 1240px) {
  .skills_section .skills_wrapper .our-technology {
    padding: 250px 0px;
  }
  .skills_section .skills_wrapper .our-technology .our-techno .line-2 {
    left: -191px;
    top: 48%;
    width: 448px;
    transform: translate(-50%) rotate(14deg);
  }
  .skills_section .skills_wrapper .our-technology .our-techno .line-7 {
    right: -191px;
    top: 48%;
    width: 448px;
  }
  .skills_section .skills_wrapper .our-technology .our-techno .line-9 {
    right: -71px;
    width: 248px;
  }
}
@media (min-width: 767px) and (max-width: 991px) {
  .skills_section .skills_wrapper .our-technology {
    padding: 200px 0px;
  }
  .skills_section .skills_wrapper .our-technology .our-techno .animation-line .techno-img {
    top: -40px;
    width: 80px;
    height: 80px;
  }
  .skills_section .skills_wrapper .our-technology .our-techno .line-1 {
    transform: translate(-50%) rotate(33deg);
  }
  .skills_section .skills_wrapper .our-technology .our-techno .line-2 {
    left: -143px;
    top: 48%;
    width: 328px;
    transform: translate(-50%) rotate(13deg);
  }
  .skills_section .skills_wrapper .our-technology .our-techno .line-3 {
    left: -100px;
    top: 50%;
    width: 376px;
  }
  .skills_section .skills_wrapper .our-technology .our-techno .line-6 {
    transform: translate(-50%) rotate(148deg);
  }
  .skills_section .skills_wrapper .our-technology .our-techno .line-7 {
    right: -143px;
    top: 48%;
    width: 328px;
  }
  .skills_section .skills_wrapper .our-technology .our-techno .line-9 {
    right: -71px;
    width: 248px;
  }
}
@media screen and (max-width: 767px) {
  .skills_section .skills_wrapper .our-technology {
    padding: 200px 0px;
  }
  .skills_section .skills_wrapper .our-technology .our-techno .animation-line .techno-img {
    left: -32px;
    top: -40px;
    height: 80px;
    width: 80px;
  }
  .skills_section .skills_wrapper .our-technology .our-techno .line-1 {
    left: -48px;
    top: 40%;
    width: 190px;
    transform: translate(-50%) rotate(44deg);
  }
  .skills_section .skills_wrapper .our-technology .our-techno .line-2 {
    left: -65px;
    top: 41%;
    width: 190px;
    transform: translate(-51%) rotate(7deg);
  }
  .skills_section .skills_wrapper .our-technology .our-techno .line-3 {
    left: -60px;
    top: 58%;
    width: 190px;
    transform: translate(-50%) rotate(-21deg);
  }
  .skills_section .skills_wrapper .our-technology .our-techno .line-4 {
    left: -54px;
    top: 63%;
    width: 190px;
    transform: translate(-50%) rotate(-54deg);
  }
  .skills_section .skills_wrapper .our-technology .our-techno .line-5 {
    left: -44px;
    width: 190px;
  }
  .skills_section .skills_wrapper .our-technology .our-techno .line-6 {
    right: -48px;
    top: 40%;
    width: 190px;
    transform: translate(-50%) rotate(132deg);
  }
  .skills_section .skills_wrapper .our-technology .our-techno .line-7 {
    right: -65px;
    top: 41%;
    width: 190px;
    transform: translate(-51%) rotate(168deg);
  }
  .skills_section .skills_wrapper .our-technology .our-techno .line-8 {
    right: -60px;
    top: 58%;
    width: 190px;
    transform: translate(-50%) rotate(195deg);
  }
  .skills_section .skills_wrapper .our-technology .our-techno .line-9 {
    right: -54px;
    top: 63%;
    width: 190px;
    transform: translate(-50%) rotate(230deg);
  }
  .skills_section .skills_wrapper .our-technology .our-techno .line-10 {
    left: -44px;
    width: 190px;
  }
}
@media screen and (max-width: 575px) {
  .skills_section .skills_wrapper .our-technology {
    padding: 150px 0px;
  }
  .skills_section .skills_wrapper .our-technology .our-techno .center-title {
    width: 85px;
    height: 85px;
  }
  .skills_section .skills_wrapper .our-technology .our-techno .center-title h4 {
    font-size: 16px;
  }
  .skills_section .skills_wrapper .our-technology .our-techno .animation-line .techno-img {
    left: -32px;
    top: -30px;
    height: 60px;
    width: 60px;
  }
  .skills_section .skills_wrapper .our-technology .our-techno .line-1 {
    left: -29px;
    top: 19%;
    width: 100px;
    transform: translate(-50%) rotate(48deg);
  }
  .skills_section .skills_wrapper .our-technology .our-techno .line-2 {
    left: -30px;
    top: 35%;
    width: 100px;
    transform: translate(-51%) rotate(7deg);
  }
  .skills_section .skills_wrapper .our-technology .our-techno .line-3 {
    left: -30px;
    top: 55%;
    width: 100px;
    transform: translate(-50%) rotate(-28deg);
  }
  .skills_section .skills_wrapper .our-technology .our-techno .line-4 {
    left: -24px;
    top: 77%;
    width: 100px;
    transform: translate(-50%) rotate(-59deg);
  }
  .skills_section .skills_wrapper .our-technology .our-techno .line-5 {
    left: -9px;
    width: 100px;
    top: 15%;
  }
  .skills_section .skills_wrapper .our-technology .our-techno .line-6 {
    right: -29px;
    top: 19%;
    width: 100px;
    transform: translate(-50%) rotate(132deg);
  }
  .skills_section .skills_wrapper .our-technology .our-techno .line-7 {
    right: -30px;
    top: 35%;
    width: 100px;
    transform: translate(-51%) rotate(168deg);
  }
  .skills_section .skills_wrapper .our-technology .our-techno .line-8 {
    right: -30px;
    top: 55%;
    width: 100px;
    transform: translate(-50%) rotate(202deg);
  }
  .skills_section .skills_wrapper .our-technology .our-techno .line-9 {
    right: -24px;
    top: 77%;
    width: 100px;
    transform: translate(-50%) rotate(235deg);
  }
  .skills_section .skills_wrapper .our-technology .our-techno .line-10 {
    left: -9px;
    width: 100px;
    top: 80%;
    transform: translate(-50%) rotate(267deg);
  }
}

/*SKILLS SECTION CSS END HEAR*/
@keyframes scale {
  from {
    opacity: 1;
    transform: scale3d(1, 1, 1);
  }
  to {
    opacity: 0;
    transform: scale3d(1.5, 1.5, 1);
  }
}
@keyframes circle-animation {
  0% {
    left: 100%;
  }
  50% {
    left: 0;
  }
  100% {
    left: 100%;
  }
}
/*KEY FRAMES CSS END HEAR*//*# sourceMappingURL=skills.component.css.map */