<!-- SKILLS SECTION START HEAR -->
<section class="skills_section overflow-hidden" id="skills">
    <div #skillsSection>
        <div class="skills_wrapper">
            <div class="container">
                <div class="title" data-aos="fade-down" data-aos-anchor-placement="top-bottom" data-aos-easing="linear">
                    <h4>{{translateService.content.skillsCapital}}</h4>
                    <h2>{{translateService.content.moreAboutMySkills}}</h2>
                </div>
                <div class="row flex-column-reverse flex-lg-row skills_block">
                    <div class="col-lg-6 mb-3 mb-lg-0" id="counter">
                        <div class="skills_content" data-aos="fade-right">
                            <h6>{{translateService.content.designIsLife}}</h6>
                            <h2>{{translateService.content.developSkillsRegularly}}</h2>
                            <p>{{translateService.content.skillsDescription}}</p>
                            <div class="progress-block" *ngFor="let skill of skills">
                                <div class="d-flex justify-content-between align-items-center mb-1">
                                    <span>{{ skill.name }}</span>
                                    <span>{{ skill.percentage }}%</span>
                                </div>
                                <mat-progress-bar mode="determinate" [value]="skill.percentage"></mat-progress-bar>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="img-block" data-aos="fade-left">
                            <img [src]="skillsImage" [alt]="altText">
                        </div>
                    </div>
                </div>
            </div>
            <span class="gradient-border"></span>
            <div class="our-technology" data-aos="fade-up">
                <div class="container">
                    <div class="our-techno">
                        <div class="center-title">
                            <img src="../../../assets/image/logo.webp" alt="logo">
                        </div>
                        <div *ngFor="let tech of technologies; let i = index" class="animation-line line-{{i + 1}}">
                            <div class="animation-circle circle-{{i + 1}}"></div>
                            <div class="techno-img">
                              <img draggable="false" [ngClass]="{'rounded-circle': i !== 2, 'rounded-0': i === 2}" class="img-fluid" [src]="tech.imageSrc" alt="{{tech.name}}" loading="lazy" />
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <span class="gradient-border"></span>
        </div>
    </div>
</section>
<!-- SKILLS SECTION END HEAR -->