/*COMPANY INFORMATION SECTION CSS START */
.company-information {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url(../../../assets/image/doted-img.png);
    min-height: 350px;
    position: relative;
    display: flex;
    align-items: center;
    box-shadow: rgb(92 185 242 / 28%) 0px 0px 27px, rgb(0 0 0 / 60%) 0px 6px 6px;
    @media screen and (max-width: 575px) {
        padding: 40px 0px;
        background-position: left;
    }
    .company-information-wrapper {
        position: relative;
        z-index: 10;
        text-align: center;
        backdrop-filter: blur(12px);
        @media screen and (max-width: 767px) {
            backdrop-filter: unset;
        }
        .company-information-block {
            padding: 30px;
            border-radius: 0px 40px;
            border: 1px solid var(--primary);
            position: relative;
            @media screen and (max-width: 767px) {
                padding: 10px;
                border-radius: 0px;
                border: 0px solid var(--primary);
                &::after {
                    display: none;
                }
                &::before {
                    display: none;
                }
            }
            @media screen and (max-width: 575px) {
                border-radius: 5px;
                background-color: transparent;
            }
            &::after {
                content: '';
                width: 13px;
                height: 13px;
                border-radius: 100%;
                background-color: var(--sky);
                position: absolute;
                top: -4%;
                left: 0%;
                transform: translate(-50%);
                z-index: 99;
            }
            &::before {
                content: '';
                width: 13px;
                height: 13px;
                border-radius: 100%;
                background-color: var(--sky);
                position: absolute;
                bottom: -4%;
                right: 0%;
                transform: translate(50%);
                z-index: 99;
            }
            .information-box {
                border-right: 2px solid var(--light-sky);
                position: relative;
                &::after {
                    content: '';
                    width: 13px;
                    height: 13px;
                    border-radius: 100%;
                    background-color: var(--sky);
                    position: absolute;
                    top: -4%;
                    left: 0%;
                    transform: translate(-50%);
                    z-index: 99;
                    display: none;
                }
                &::before {
                    content: '';
                    width: 13px;
                    height: 13px;
                    border-radius: 100%;
                    background-color: var(--sky);
                    position: absolute;
                    bottom: -4%;
                    right: 0%;
                    transform: translate(50%);
                    z-index: 99;
                    display: none;
                }
                @media screen and (max-width: 767px) {
                    border-radius: 0px 50px 0px 50px;
                    border: 1px solid var(--light-sky) !important;
                    padding: 20px;
                    backdrop-filter: blur(12px);
                    &::after {
                        display: block;
                    }

                    &::before {
                        display: block;
                    }
                }
                @media screen and (max-width:575px) {
                    padding: 15px;
                    backdrop-filter: blur(5px);
                }
                h2 {
                    font-size: 40px;
                    font-weight: 600;
                    color: var(--sky);

                    @media screen and (max-width:991px) {
                        font-size: 30px;
                    }
                    @media screen and (max-width:575px) {
                        margin-bottom: 10px;
                    }
                }
                h6 {
                    font-size: 16px;
                    text-transform: uppercase;
                    font-weight: 600;
                    color: var(--white);

                    @media screen and (max-width: 991px) {
                        font-size: 13px;
                    }

                    @media screen and (max-width:767px) {
                        font-size: 14px;
                    }
                }
            }
        }
    }
}
.information-colum{
    &:last-child{
        .information-box{
            border-right: 0px !important;
        }
    }
}
/*COMPANY INFORMATION SECTION CSS END */