<!-- COMPANY INFORMATION SECTION START -->
<section class="company-information">
    <div class="container-lg" #companyInformation>
        <div class="company-information-wrapper">
            <div class="company-information-block" id="counter">
                <div class="row" data-aos="fade-down" data-aos-anchor-placement="top-bottom" data-aos-easing="linear">
                    <!-- <div class="col-sm-6 col-md-3">
                        <div class="information-box mb-4 mb-md-0">
                            <h2>
                                {{number}}+
                            </h2>
                            <h6>
                                Happy Clients
                            </h6>
                        </div>
                    </div>
                    <div class="col-sm-6 col-md-3">
                        <div class="information-box mb-4 mb-md-0">
                            <h2>
                                {{number2}}+
                            </h2>
                            <h6>
                                Hours Of Support
                            </h6>
                        </div>
                    </div>
                    <div class="col-sm-6 col-md-3">
                        <div class="information-box mb-4 mb-sm-0">
                            <h2>
                                {{number3}}+
                            </h2>
                            <h6>
                                Project Completed
                            </h6>
                        </div>
                    </div>
                    <div class="col-sm-6 col-md-3">
                        <div class="information-box border-0">
                            <h2>
                                {{number4}}+
                            </h2>
                            <h6>
                                Years Of Experience
                            </h6>
                        </div>
                    </div> -->
                    <div class="col-sm-6 col-md-3 information-colum" *ngFor="let box of informatinBoxObject">
                        <div class="information-box mb-4 mb-md-0">
                          <h2>{{ box.value }}+</h2>
                          <h6>{{ box.label }}</h6>
                        </div>
                      </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- COMPANY INFORMATION SECTION END -->