@import "~@angular/material/prebuilt-themes/indigo-pink.css";

:root {
    --primary:#94a3b8;
    --secondary:#22222240;
    --sky:#38bdf8;
    --light-sky:#bae6fd;
    --black: #000000;
    --dark-black: #040404;
    --white: #ffffff;
}
body {
    background-color: #020617 !important;
    background: url(assets/image/Dot-Background.png) repeat;
    background-position: center;
    font-family: 'Montserrat', sans-serif !important;
    animation: background-scroll 60s linear infinite;
}
h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Philosopher', sans-serif !important;
    // font-family: 'Ephesis', cursive !important;
}
a {
    text-decoration: none !important;
}

/* MAT CLASS CSS START HEAR */ 
.appearance-none::-webkit-outer-spin-button,
.appearance-none::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
.mat-mdc-progress-bar {
    --mdc-linear-progress-active-indicator-height: 7px !important;
    --mdc-linear-progress-track-height: 7px !important;
    --mdc-linear-progress-track-shape: 0;
}
.mdc-linear-progress__bar-inner{
    border-color:#57bbf6b8 !important;
}
.mat-mdc-progress-bar {
    --mdc-linear-progress-active-indicator-color:var(--sky) !important;
    --mdc-linear-progress-track-color: var(--primary) !important;
}
.mdc-linear-progress__buffer{
    background-color: var(--light-sky);
}
.mat-mdc-form-field {
    width: 100% !important;
    background:transparent !important;
    color: var(--white);
    border-bottom: 2px solid #212332;
    max-height: 200px;
    backdrop-filter: blur(5px);
   
    .mdc-text-field--filled:not(.mdc-text-field--disabled) {
        background: transparent !important;
    }
    input,
    textarea {
        font-size: 15px !important;
        color: var(--white) !important;
    }
    mat-label{
        color: var(--white);
        font-size: 15px !important
    }
    input::placeholder,
    textarea::placeholder {
        font-size: 15px !important;
    }
    .mat-mdc-form-field-subscript-wrapper {
        display: none;
    }
  
}
  
/* MAT CLASS CSS END HEAR */ 

.title {
    text-align: center;
    h4 {
        color: var(--white);
        font-weight: 500;
        margin-bottom: 10px;
        font-size: 25px;
    }
    h2 {
        font-weight: 600;
        font-size: 35px;
        margin-bottom: 0px;
        background: linear-gradient(to bottom right, var(--primary) 47%, var(--sky) 70%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }
}
p{
    font-size: 15px;
    font-weight: 400;
    line-height: 27px;
    color: var(--primary);
    margin-bottom: 0px;
}
.button-primary{
    padding: 10px 30px;
    border-radius: 12px;
    color: var(--white);
    border: 1px solid var(--sky);
    background-color:transparent;
    font-size: 14px;
    display: block;
    max-width: max-content;
    transition: all 0.5s;
    &:hover{
        background-color: var(--sky);
    }
}

/*KEY FRAMES */ 

@keyframes background-scroll {
    0%{
        background-position-x: 0;
    }100%{
        background-position-x: 1000px;
    }
}