/*SERVICES SECTION CSS START HEAR*/
.services-section {
  padding: 100px 0px 50px;
  position: relative;
  z-index: 10;
}
@media screen and (max-width: 1240px) {
  .services-section {
    padding: 60px 20px 20px;
  }
}
@media screen and (max-width: 575px) {
  .services-section {
    padding: 70px 10px 0px;
  }
}
.services-section .services-wrapper {
  max-width: 1700px;
  margin: 0 auto;
}
.services-section .services-wrapper .services-content {
  padding: 100px 20px 50px;
}
@media screen and (max-width: 1024px) {
  .services-section .services-wrapper .services-content {
    padding: 50px 20px 20px;
  }
}
@media screen and (max-width: 575px) {
  .services-section .services-wrapper .services-content {
    padding: 40px 10px 20px;
  }
}
.services-section .services-wrapper .services-content .card-wrapper .card-block {
  -webkit-backdrop-filter: blur(10px);
          backdrop-filter: blur(10px);
  box-shadow: rgba(92, 185, 242, 0.66) 0px 0px 10px, rgba(0, 0, 0, 0.6) 0px 6px 6px;
  border-radius: 10px;
  display: flex;
  overflow: hidden;
  flex-direction: row;
  min-height: 300px;
  position: relative;
}
@media screen and (max-width: 1240px) {
  .services-section .services-wrapper .services-content .card-wrapper .card-block {
    flex-direction: column;
  }
}
@media screen and (max-width: 991px) {
  .services-section .services-wrapper .services-content .card-wrapper .card-block {
    flex-direction: row;
  }
}
@media screen and (max-width: 630px) {
  .services-section .services-wrapper .services-content .card-wrapper .card-block {
    flex-direction: column;
  }
}
.services-section .services-wrapper .services-content .card-wrapper .card-block::before {
  content: "";
  position: absolute;
  bottom: -70px;
  right: -70px;
  height: 200px;
  width: 200px;
  background-color: #132b44;
  border-radius: 100%;
}
@media screen and (max-width: 575px) {
  .services-section .services-wrapper .services-content .card-wrapper .card-block::before {
    height: 180px;
    width: 180px;
  }
}
.services-section .services-wrapper .services-content .card-wrapper .card-block::after {
  content: "";
  position: absolute;
  position: absolute;
  bottom: 40px;
  right: 40px;
  height: 120px;
  width: 120px;
  background-color: rgba(83, 178, 235, 0.27);
  border-radius: 100%;
}
@media screen and (max-width: 575px) {
  .services-section .services-wrapper .services-content .card-wrapper .card-block::after {
    height: 100px;
    width: 100px;
  }
}
.services-section .services-wrapper .services-content .card-wrapper .card-block .img-block {
  width: 100% !important;
  min-width: 270px;
}
.services-section .services-wrapper .services-content .card-wrapper .card-block .img-block img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: right;
     object-position: right;
}
@media screen and (max-width: 1240px) {
  .services-section .services-wrapper .services-content .card-wrapper .card-block .img-block img {
    max-height: 320px;
    min-height: 320px;
  }
}
@media screen and (max-width: 991px) {
  .services-section .services-wrapper .services-content .card-wrapper .card-block .img-block img {
    max-height: none;
    min-height: auto;
  }
}
.services-section .services-wrapper .services-content .card-wrapper .card-block .card-content {
  padding: 30px 40px;
  position: relative;
  z-index: 15;
}
@media screen and (max-width: 767px) {
  .services-section .services-wrapper .services-content .card-wrapper .card-block .card-content {
    padding: 15px 20px;
  }
}
.services-section .services-wrapper .services-content .card-wrapper .card-block .card-content h4 {
  font-size: 29px;
  color: #fff;
  font-weight: 500;
  margin-bottom: 20px;
}
@media screen and (max-width: 1400px) {
  .services-section .services-wrapper .services-content .card-wrapper .card-block .card-content h4 {
    font-size: 24px;
  }
}
@media screen and (max-width: 640px) {
  .services-section .services-wrapper .services-content .card-wrapper .card-block .card-content h4 {
    margin-bottom: 10px;
    font-size: 22px;
  }
}
.services-section .services-wrapper .services-content .card-wrapper .card-block .card-content h5 {
  font-size: 19px;
  font-weight: 400;
  color: #fff;
  margin-bottom: 20px;
  font-family: "Montserrat", sans-serif !important;
}
@media screen and (max-width: 640px) {
  .services-section .services-wrapper .services-content .card-wrapper .card-block .card-content h5 {
    margin-bottom: 10px;
    font-size: 16px;
  }
}
.services-section .services-wrapper .services-content .card-wrapper .card-block .card-content h5 span {
  color: var(--sky);
  margin-left: 5px;
  font-weight: 500;
}
.services-section .services-wrapper .services-content .card-wrapper .card-block .card-content p {
  margin-bottom: 20px;
}

/*SERVICES SECTION CSS END HEAR*//*# sourceMappingURL=services.component.css.map */