<!-- SERVICES SECTION START HEAR -->
<section class="services-section" id="services">
    <div class="services-wrapper">
        <div class="title" data-aos="fade-down" data-aos-anchor-placement="top-bottom" data-aos-easing="linear">
            <h4>{{translateService.content.servicesCapital}}</h4>
            <h2>{{translateService.content.learnMoreAboutServices}}</h2>
        </div>
        <div class="services-content overflow-hidden">
            <div class="row">
                <div *ngFor="let service of services; let i = index" class="col-lg-6 mb-4 card-wrapper" 
                data-aos="fade-right" data-aos-easing="linear">
                    <div class="card-block">
                        <div class="img-block">
                            <img src="{{ service.imageSrc }}" alt="image" loading="lazy">
                        </div>
                        <div class="card-content">
                            <h4>{{ service.title }}</h4>
                            <h5>{{translateService.content.startsFrom}}<span>{{ service.price }}</span></h5>
                            <p>{{ service.description }}</p>
                            <a routerLink="/contact" (click)="serviceService.scrollTo('contact')" class="button-primary-outline">{{translateService.content.contact}}</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- SERVICES SECTION END HEAR -->