<!-- SERVICES SECTION START HEAR -->
<section class="services-section" id="services">
    <div class="services-wrapper">
        <div class="title" data-aos="fade-down" data-aos-anchor-placement="top-bottom" data-aos-easing="linear">
            <h4>SERVICES</h4>
            <h2>LEARN MORE ABOUT SERVICES</h2>
        </div>
        <div class="services-content overflow-hidden">
            <div class="row">
                <div class="col-6 mb-5 card-wrapper" data-aos="fade-right" data-aos-easing="linear">
                    <div class="card-block">
                        <div class="img-block">
                            <img src="../../assets/image/web-designing.png" alt="image" loading="lazy">
                        </div>
                        <div class="card-content">
                            <h4>Website Design</h4>
                            <h5>Starts from<span>₹99</span></h5>
                            <p>Web Design Refers To The Design Of Websites That Are Displayed On The Internet. It
                                Usually Refers To The User Experience Aspects Of Website Development</p>
                            <a href="#contact" class="button-primary">Contact</a>
                        </div>
                    </div>
                </div>

                <div class="col-6 mb-5 card-wrapper" data-aos="fade-left" data-aos-easing="linear">
                    <div class="card-block">
                        <div class="img-block">
                            <img src="../../assets/image/development-skills.png" alt="image" loading="lazy">
                        </div>
                        <div class="card-content">
                            <h4>Website Development</h4>
                            <h5>Starts from<span>₹199</span></h5>
                            <p>Web Design Refers To The Design Of Websites That Are Displayed On The Internet. It
                                Usually Refers To The User Experience Aspects Of Website Development</p>
                            <a href="#contact" class="button-primary">Contact</a>
                        </div>
                    </div>
                </div>
                <div class="col-6 card-wrapper" data-aos="fade-right" data-aos-easing="linear">
                    <div class="card-block">
                        <div class="img-block">
                            <img src="../../assets/image/digital-marketing.png" alt="image" loading="lazy">
                        </div>
                        <div class="card-content">
                            <h4>Digital Marketing</h4>
                            <h5>Starts from<span>₹399</span></h5>
                            <p>Web Design Refers To The Design Of Websites That Are Displayed On The Internet. It
                                Usually Refers To The User Experience Aspects Of Website Development</p>
                            <a href="#contact" class="button-primary">Contact</a>
                        </div>
                    </div>
                </div>
                <div class="col-6 card-wrapper" data-aos="fade-left" data-aos-easing="linear">
                    <div class="card-block">
                        <div class="img-block">
                            <img src="../../assets/image/graphics-design.jpg" alt="image" loading="lazy">
                        </div>
                        <div class="card-content">
                            <h4>Graphics Design</h4>
                            <h5>Starts from<span>₹299</span></h5>
                            <p>Web Design Refers To The Design Of Websites That Are Displayed On The Internet. It
                                Usually Refers To The User Experience Aspects Of Website Development</p>
                            <a href="#contact" class="button-primary">Contact</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</section>
<!-- SERVICES SECTION END HEAR -->

